                                                                               Date: 16_April-2023

### Python Programming

###### 1. WAP for finding common & uncommon element from list and dictionary

In [1]:
list1=['A','B','C']
dict1={'A':10,'B':20,'C':30,'D':40,'E':50}

com=[]
uncom=[]
com_keys=[]
uncom_keys=[]

for i in list1:
    if i in dict1:
        com.append(dict1[i])      

for i in dict1:
    if i not in list1:
        uncom.append(dict1[i])
            
for i in list1:
    if i in dict1:
        com_keys.append(i)
             
for i in dict1:
    if i not in list1:
        uncom_keys.append(i)
          
        
print('Values of Common elements from list & dictionary :',com)
print('*'*90)

print("Values of uncommon elements from list & dictionary :",uncom)     
print('*'*90)

print('Keys of common elements from list & dictionary :',com_keys)     
print('*'*90)

print('Keys of uncommon elements from list & dictionary :',uncom_keys)

Values of Common elements from list & dictionary : [10, 20, 30]
******************************************************************************************
Values of uncommon elements from list & dictionary : [40, 50]
******************************************************************************************
Keys of common elements from list & dictionary : ['A', 'B', 'C']
******************************************************************************************
Keys of uncommon elements from list & dictionary : ['D', 'E']

###### 2. WAP for finding even and odd numbers from range 1 to 100

In [2]:
even_number=[]
odd_number=[]

for i in range(1,101):
    if i%2==0:
        even_number.append(i)
    else:
        odd_number.append(i)
        
print("Even numbers are :",even_number)
print('*'*100)
print("Odd numbers are :",odd_number)

Even numbers are : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
****************************************************************************************************
Odd numbers are : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

###### 3.  Program for finding given number is prime or not

###### Prime Numbers

    A prime number is a positive integer greater than 1 that has only two factors, 1 and itself. In other words, it is a number that is divisible by only 1 and itself. For example, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97 are all prime numbers.

In [3]:
num=int(input('Enter number'))

for i in range(2,num):
    if num%i == 0:
        print(num,'is not Prime number')
        break
    else:
        print(num,'is Prime number')

Enter number100
100 is not Prime number

###### 4. Program for sorting prime /unprime numbers from given range

In [4]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2,n):
        if n % i == 0:
            return False
    return True

prime_num=[]
not_prime=[]

for i in range(0,101):
    if is_prime(i):
        prime_num.append(i)
    else:
        not_prime.append(i)
        
print('not_prime list :',not_prime)
print('*'*100)
print('prime_num list :',prime_num)

not_prime list : [0, 1, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100]
****************************************************************************************************
prime_num list : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

###### 5. Addition of string and integer Using Explicit Conversion

In [5]:
str_var='1000'
int_var=2000

print('string value :',str_var)
print(type(str_var))

print('Integer value :',int_var)
print(type(int_var))

print('*'*100)

print('explicit conversion str_var to int_var :')
new_str_var=int(str_var) # explicit conversion string to int
print('New converted str_var :',new_str_var)
print(type(new_str_var))

print('*'*100)

print('Addition of new_str_var and int_var :',new_str_var+int_var)

string value : 1000
<class 'str'>
Integer value : 2000
<class 'int'>
****************************************************************************************************
explicit conversion str_var to int_var :
New converted str_var : 1000
<class 'int'>
****************************************************************************************************
Addition of new_str_var and int_var : 3000

                                                                             Date : 17_April-2023

###### 6. Python program output of two print statemets in single line.

In [6]:
# print with end whitespace
print('Do it now, sometimes later becomes never..!', end= ' ')
print('Practice makes man perfect..!')

Do it now, sometimes later becomes never..! Practice makes man perfect..!

In [7]:
# print with the help of variables
pr1='Do it now, sometimes later becomes never..!'
pr2='Practice makes man perfect..!'

print(pr1,pr2)

Do it now, sometimes later becomes never..! Practice makes man perfect..!

###### 7. Python Program to Generate a Random Number

In [8]:
import random

var= random.randint(0,9)
print(var)

7

###### 8. Python program to check if year is a leap year or not

        divided by 100 means century year (ending with 00)
        century year divided by 400 is leap year

        not divided by 100 means not a century year
        year divided by 4 is a leap year

        if not divided by both 400 (century year) and 4 (not century year)
        year is not leap year

In [9]:
year=int(input('Enter year to check leep or not :'))

if (year % 400 == 0) and (year % 100 == 0):
    print(year,'is a leep year..!')
    
elif (year % 4 == 0) and (year % 100 != 0):
    print(year,'is a leep year..!')
    
else:
    print(year,'is not a leep year..!')

Enter year to check leep or not :100
100 is not a leep year..!

###### 9. Python Program to Check if a Number is Positive, Negative or 0

In [10]:
num = float(input('Enter required number to check +ve, -ve or zero : '))

if num > 0:
    print(num, "is a positive number")
elif num == 0:
    print(num, "is a zero number")
else:
    print(num, 'is negative number')

Enter required number to check +ve, -ve or zero : 100
100.0 is a positive number

###### 10. Python Program to Find the Largest Among Three Numbers

In [11]:
a=float(input("Enter 1st number : "))
b=float(input("Enter 2nd number : "))
c=float(input("Enter 3rd number : "))

if (a>=b) and (a>=c):
    largest=a
    
elif (b>=a) and (b>=c):
    largest=b
    
else:
    largest=c
    
print("The largest number is :",largest)

Enter 1st number : 10
Enter 2nd number : 20
Enter 3rd number : 30
The largest number is : 30.0

                                                                            Date : 18_April-2023

###### 11. Cast integer number into str/float/complex/bool

In [12]:
int_num=1000
print('Integer value',int_num)
print('*'*100)

str_num=str(int_num)
print('Str value :',str_num)
print('*'*100)

flt_num=float(int_num)
print('Float value :',flt_num)
print('*'*100)

comp_num=complex(int_num)
print('Complex value :',comp_num)
print('*'*100)

bool_num=bool(int_num)
print('Boolean value :',bool_num)
print('*'*100)

Integer value 1000
****************************************************************************************************
Str value : 1000
****************************************************************************************************
Float value : 1000.0
****************************************************************************************************
Complex value : (1000+0j)
****************************************************************************************************
Boolean value : True
****************************************************************************************************

###### 12. Take two numbers and display output on operator functions

In [13]:
x=14
y=4

print('x + y =',x+y)
print('.'*100)

print('x - y =',x-y)
print('.'*100)

print('x * y =',x*y)
print('.'*100)

print('x / y =',x/y)
print('.'*100)

print('x // y =',x//y)
print('.'*100)

print('x % y =',x%y)
print('.'*100)

print('x ** y =',x**y)

x + y = 18
....................................................................................................
x - y = 10
....................................................................................................
x * y = 56
....................................................................................................
x / y = 3.5
....................................................................................................
x // y = 3
....................................................................................................
x % y = 2
....................................................................................................
x ** y = 38416

###### 13. create list by using user input, display ascending and descending order and access that elemets

In [11]:
numbers = []
n = int(input("Enter the number of elements in the list: "))

for i in range(n):
    num = int(input("Enter a number: "))
    numbers.append(num)

print("Original list:", numbers)

print("List in ascending order:", sorted(numbers))

print("List in descending order:", sorted(numbers, reverse=True))
print(len(numbers))
print(numbers[5:7])

Enter the number of elements in the list: 10
Enter a number: 100
Enter a number: 2
Enter a number: 6
Enter a number: 2
Enter a number: 200
Enter a number: 334455
Enter a number: 6
Enter a number: 7
Enter a number: 89
Enter a number: 30
Original list: [100, 2, 6, 2, 200, 334455, 6, 7, 89, 30]
List in ascending order: [2, 2, 6, 6, 7, 30, 89, 100, 200, 334455]
List in descending order: [334455, 200, 100, 89, 30, 7, 6, 6, 2, 2]
10
[334455, 6]

###### 14. Create the tuple and append any number in tuple

In [12]:
tup=(1,2,55,66,600)
print(tup,type(tup))
print('*'*100)

print('converting tup to list for append function:')
list1=list(tup)
list1.append('Digvijay')
print(list1,type(list1))
print('*'*100)

tup=tuple(list1)
print(tup,type(tup))

(1, 2, 55, 66, 600) <class 'tuple'>
****************************************************************************************************
converting tup to list for append function:
[1, 2, 55, 66, 600, 'Digvijay'] <class 'list'>
****************************************************************************************************
(1, 2, 55, 66, 600, 'Digvijay') <class 'tuple'>

###### 15. create a tuple and display one element seperate from tuple

In [22]:
tup=('apple','banana','chiku','mango')
(a,*b)=tup
print(a)
print(b)

print('*'*100)

tup1=('a','b','c','d','e')
tup2=('d','s','m')
tup=(*tup1,*tup2)
print(tup1)
print(tup2)
print("merging two tuples:",tup)

apple
['banana', 'chiku', 'mango']
****************************************************************************************************
('a', 'b', 'c', 'd', 'e')
('d', 's', 'm')
merging two tuples: ('a', 'b', 'c', 'd', 'e', 'd', 's', 'm')

                                                                            Date : 19_April-2023

###### 16. create set and update one set to another

In [29]:
set1=set([1,2,3,4,5])
set2=set((6,7,8,9,10))
set3=set([11,22,33,44,55])

print(set1)
print(set2)
print('*'*100)
set1.update(set2)
print('Updating set1 to set2 :',set1)
set2.update(set3)
print('Updating set2 to set1 :',set2)

{1, 2, 3, 4, 5}
{6, 7, 8, 9, 10}
****************************************************************************************************
Updating set1 to set2 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Updating set2 to set1 : {33, 6, 7, 8, 9, 10, 11, 44, 22, 55}

###### 17. create a dictionary and access it in different ways

In [6]:
dict1={'a':1,'b':2,'c':3,'d':4,'e':5}
print('Created Dictionary is :',dict1)
print('*'*100)

print('Accesing element by using given key :',dict1['a'])
print('Accesing element by using index :',dict1.get('a'))
print('Accesing all keys :',dict1.keys())
print('Accesing all values :',dict1.values())
print('Accesing all key-value pair :',dict1.items())

Created Dictionary is : {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
****************************************************************************************************
Accesing element by using given key : 1
Accesing element by using index : 1
Accesing all keys : dict_keys(['a', 'b', 'c', 'd', 'e'])
Accesing all values : dict_values([1, 2, 3, 4, 5])
Accesing all key-value pair : dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

###### 18. write a program to swap any two values from a list using function swap()
input  : list1=[1,2,3,4,5,8,10]
output :list2=[1,2,10,4,5,8,3]

In [12]:
def swap(lst,i, j):
    temp = lst[i]
    lst[i] = lst[j]
    lst[j] = temp
    return lst[i], lst[j]



list1=[1,2,3,4,5,8,10] 
print('Input List :',list1)
swap(list1,2,6) # input, index num, index num
print('Output List :',list1)

Input List : [1, 2, 3, 4, 5, 8, 10]
Output List : [1, 2, 10, 4, 5, 8, 3]

###### 19. pass list as argument and get the sum of list
list1=[1,2,3,7,4,5,8,10]

In [15]:
def sum_list(lst):
    total=0
    for num in lst:
        total+=num
    return total 
    
list1=[1,2,3,7,4,5,8,10]
print('inlput list:',list1)
print('sum of list :',sum_list(list1))

inlput list: [1, 2, 3, 7, 4, 5, 8, 10]
sum of list : 40

###### 20. pass tuple and count number of elemnt in tuple
tup=(1,2,3,7,4,5,8,10)

In [17]:
def count_ele(tup):
    count=len(tup)
    return count

tup=(1,2,3,4,5,67,99,77)
print('count of tuple is :',count_ele(tup))

count of tuple is : 8

                                                                               Date: 20_April-2023

###### 21. Create nested dictionary and acces element

In [14]:
nested_dict = {
    'person1': {'name': 'Rohit', 'age': 35, 'address': {'city': 'Mumbai', 'state': 'MH'}},
    'person2': {'name': 'Virat', 'age': 34, 'address': {'city': 'Delhi', 'state': 'DL'}}
              }

print(nested_dict)
print('*'*100)

# Accessing element from nested dictionary

print('accessing address for Person1:',nested_dict['person1']['address'])
print('accessing state for Person1:',nested_dict['person1']['address']['state'])
print('accessing address for Person1:',nested_dict['person2']['name'])

{'person1': {'name': 'Rohit', 'age': 35, 'address': {'city': 'Mumbai', 'state': 'MH'}}, 'person2': {'name': 'Virat', 'age': 34, 'address': {'city': 'Delhi', 'state': 'DL'}}}
****************************************************************************************************
accessing address for Person1: {'city': 'Mumbai', 'state': 'MH'}
accessing state for Person1: MH
accessing address for Person1: Virat

In [18]:
grandson = { 'g_name':'grans_son_name'} 

son = { 's_key' : grandson,'s_name': 'son_name'} 

parent = {'p_key':son,'p_name':'Parent_name'}

family ={'f_key':parent}

print(family)

{'f_key': {'p_key': {'s_key': {'g_name': 'grans_son_name'}, 's_name': 'son_name'}, 'p_name': 'Parent_name'}}

In [20]:
print(parent['p_name'])

Parent_name

###### 22. For example, assigning grades (A, B, C) based on marks obtained by a student.
if the percentage is above 90, assign grade A, if the percentage is above 75, assign grade B,
if the percentage is above 65, assign grade C

In [40]:
lst=[99,100,56,75,88,34,30,50]

final_res=[]

def result(lst):
    for i in lst:
        if i<=100 and i>90:
            final_res.append('A')
        
        elif i<90 and i>=75:
            final_res.append('B')
    
        elif i<75 and i>=60:
            final_res.append('C')
                
        elif i<60 and i>=35:
            final_res.append('PASS')
                
        else:
            final_res.append('FAIL')
    
    
result(lst)
print(lst)
print('*'*100)
print(final_res)

[99, 100, 56, 75, 88, 34, 30, 50]
****************************************************************************************************
['A', 'A', 'PASS', 'B', 'B', 'FAIL', 'FAIL', 'PASS']

In [46]:
dict1={'MAR':99,'HINDI':100,'ENG':56,'SCI':75,'SPORT':88,'HIST':34,'GEO':30,'SOCIAL':50}

def result(dict1):
    for sub, marks in dict1.items():
        if marks<=100 and marks>90:
            print(sub,": A")
        
        elif marks<90 and marks>=75:
            print(sub,": B")
    
        elif marks<75 and marks>=60:
            print(sub,": C")
                
        elif marks<60 and marks>=35:
            print(sub,": PASS")
                
        else:
            print(sub,": FAIL")
    
    

print(dict1)
print('*'*100)
result(dict1)

{'MAR': 99, 'HINDI': 100, 'ENG': 56, 'SCI': 75, 'SPORT': 88, 'HIST': 34, 'GEO': 30, 'SOCIAL': 50}
****************************************************************************************************
MAR : A
HINDI : A
ENG : PASS
SCI : B
SPORT : B
HIST : FAIL
GEO : FAIL
SOCIAL : PASS

###### 23. Python program to find the sum of all items in a dictionary

In [47]:
dict1={'MAR':99,'HINDI':100,'ENG':56,'SCI':75,'SPORT':88,'HIST':34,'GEO':30,'SOCIAL':50}

sum_of_values=sum(dict1.values())

print(sum_of_values)

532

###### 24. Python program to remove a key from a dictionary

In [52]:
my_dict={'IND':438,'AUS':476,'SA':434,'NZ':380}

print("Before removing a key:", my_dict)

# we need to remove 'AUS' from dictionary
remove_key='AUS'

if remove_key in my_dict:
    del my_dict[remove_key]
    print('Key',remove_key ,'removed from the dictionary')
else:
    print('Key',remove_key ,'not found in the dictionary')
    
print("After removing a key:", my_dict)

Before removing a key: {'IND': 438, 'AUS': 476, 'SA': 434, 'NZ': 380}
Key AUS removed from the dictionary
After removing a key: {'IND': 438, 'SA': 434, 'NZ': 380}

###### 25. Python program to merge two Dictionaries

In [62]:
dict1={'A':10, 'B':20, 'C':30}
dict2={'D':40, 'E':50, 'F':50}

merged_dict={**dict1,**dict2}
print('Dictionary 1:',dict1)
print('Dictionary 2:',dict2)
print('*'*100)
print('Merged Dictionary :',merged_dict)

Dictionary 1: {'A': 10, 'B': 20, 'C': 30}
Dictionary 2: {'D': 40, 'E': 50, 'F': 50}
****************************************************************************************************
Merged Dictionary : {'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50, 'F': 50}

                                                                               Date: 21-April-2023

###### 26. Sort a list of tuples by the second Item

In [19]:
my_list = [('Rohit', 45), ('Virat', 18), ('Hardik', 33), ('Rhaul', 1)]

sorted_list = sorted(my_list, key=lambda x: x[1])

print(sorted_list)

[('Rhaul', 1), ('Virat', 18), ('Hardik', 33), ('Rohit', 45)]

In [20]:
my_list = [(2, 5), (1, 2), (4, 1), (3, 7)]

sorted_list = sorted(my_list, key=lambda x: x[1])

print(sorted_list)

[(4, 1), (1, 2), (2, 5), (3, 7)]

In [38]:
# Write a Python program to sort a list of dictionaries using Lambda

my_dict_list = [
    {'name': 'John', 'age': 25},
    {'name': 'Kate', 'age': 18},
    {'name': 'Bob', 'age': 32},
    {'name': 'Alice', 'age': 20}
]

sorted_dict = sorted(my_dict_list,key=lambda x: x['age'])

print(sorted_dict)

[{'name': 'Kate', 'age': 18}, {'name': 'Alice', 'age': 20}, {'name': 'John', 'age': 25}, {'name': 'Bob', 'age': 32}]

###### 27. Write a Python program to find square and cube every number in a given list of integers using Lambda

In [29]:
list1=[1,3,5,7,9,11]

# one way
funcition_square_cube=lambda x:(x**2,x**3)

result=map(funcition_square_cube, list1) # map(function, iterable)

print(list(result))

[(1, 1), (9, 27), (25, 125), (49, 343), (81, 729), (121, 1331)]

In [31]:
list1=[1,2,3,4]

# another way
function=lambda x:[x**2,x**3]

result=list(map(function,list1))

print(result)

[[1, 1], [4, 8], [9, 27], [16, 64]]

###### 28. Write a Python program to find if a given string starts with a given character using Lambda

In [33]:
string = 'Digvijay'
my_char = 'D'

function = lambda x: True if string.startswith(my_char) else False

result=function(string)

print(result)

True

In [36]:
str1='India is my country'
my_char='i'

function= lambda x: True if str1.startswith(my_char.upper()) else False

print(function(str1))

True

###### 29. Write a Python program to check whether a given string is number or not using Lambda

In [44]:
string='1231'

function = lambda x: True if string.isnumeric() else False

print("Given string is number :",function(string))

Given string is number : True

###### 30. Write a Python program to add two given lists using map and lambda

In [48]:
list1=[1,2,3,4,5]
list2=[1,2,3,4,5]

list12=list1 and list2

function = lambda x: x+x

result=list(map(function,(list12)))

print(list1)
print(list2)
print('*'*100)
print('Addition of two list :',result)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
****************************************************************************************************
Addition of two list : [2, 4, 6, 8, 10]

                                                                               Date: 22-April-2023

###### 31. Write a Python program to create Fibonacci series using Lambda


    The Fibonacci series is a sequence of numbers that starts with 0 and 1, and each subsequent number in the sequence is the sum of the previous two. The first few numbers in the Fibonacci series are:

    0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...

In [50]:
# programmed by using "for loop" but not understanding in "lambda"

def fibonacci(num):
    first=0
    second=1
    print(first,end=' ')
    print(second,end=' ')
    for i in range(num-2):
        third=first+second
        first=second
        second=third
        print(third,end=" ")
        
fibonacci(9)

0 1 1 2 3 5 8 13 21

###### 32. create set , modify it and access that set elements

In [54]:
sett={1,2,44,4,45,5,5,55,50,6,7,7,8,8,8,9}
print(sett)

# we can modify set by using add method because set is mutable but unordered
sett.add(100)
print(sett)

# accessing modified element
access= 100 in sett
print('Accessed element is in set:',access)

{1, 2, 4, 5, 6, 7, 8, 9, 44, 45, 50, 55}
{1, 2, 4, 5, 6, 7, 8, 9, 100, 44, 45, 50, 55}
Accessed element is in set: True

###### 33. create two sets and display common elements and uncommon elements from both

In [57]:
s1={1,2,3,4}
s2={3,4,5,6,7}

print(s1)
print(s2)
print('*'*100)
common_ele = s1.intersection(s2)
print('Common elements from both sets are:',common_ele)

uncommon_ele=s1.symmetric_difference(s2)
print('Uncommon elemets from both sets are:',uncommon_ele)

{1, 2, 3, 4}
{3, 4, 5, 6, 7}
****************************************************************************************************
Common elements from both sets are: {3, 4}
Uncommon elemets from both sets are: {1, 2, 5, 6, 7}

###### 34. create a series of 0 to 30 but skip the 15 and 25

In [65]:
x=1

while x<=30:
    
    if x==15 or x==25:
        x+=1
        print('Skiped Value :',x-1)
        continue
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
Skiped Value : 15
16
17
18
19
20
21
22
23
24
Skiped Value : 25
26
27
28
29
30

###### 35. create a dictionary and display iteration of keys

In [72]:
dict1 = {
    'Name' : 'Rohit',
    'Team' : 'Mumbai Indians',
    'Jourcy No' : 45,
    'Role' : 'Batter',
    'Sold Value' : 160000000 
       }
for i in dict1:
    print(i)

Name
Team
Jourcy No
Role
Sold Value

                                                                               Date: 23-April-2023

###### 36. create a dictionary with unique key-value pair and assign common value to each key

In [1]:
dict1={'A':10, 'B': 20, 'C':30, 40:'D', 50:'E', 60:'F' }
print(dict1)

print('Assigning same value ("Common") to each key :')

newdict=dict.fromkeys(dict1,'Common')
print(newdict)

{'A': 10, 'B': 20, 'C': 30, 40: 'D', 50: 'E', 60: 'F'}
Assigning same value ("Common") to each key
{'A': 'Common', 'B': 'Common', 'C': 'Common', 40: 'Common', 50: 'Common', 60: 'Common'}

###### 37. write a program and for removing every third element from list

In [25]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

i=2
while i <len(lst):
    del lst[i]
    i+=2
    
print('Sorted list:',lst)

Sorted list: [1, 2, 4, 5, 7, 8, 10, 11, 13, 14]

In [9]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

removed_elements=[]
i=2
while i <len(lst):
    removed_elements.append(lst.pop(i))
    i+=2
    
print('Sorted list:',lst)
print('Removed elements',removed_elements)

Sorted list: [1, 2, 4, 5, 7, 8, 10, 11, 13, 14]
Removed elements [3, 6, 9, 12, 15]

###### 38. write a program for display five students record by using user input

In [32]:
def stud_record():
    name=input('Name of student : ')
    age=int(input('Age of student :'))
    score=float(input('Score in percentage : '))
    print('*'*100)
    print('Student Record :')
    print('Name:',name,'Age:',age,'Score(%)',score)
    print('@'*100)
    
for i in range(0,5):
    stud_record()

Name of student : Abhimanyu
Age of student :6
Score in percentage : 91.91
****************************************************************************************************
Student Record :
Name: Abhimanyu Age: 6 Score(%) 91.91
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Name of student : Shourya
Age of student :7
Score in percentage : 93.91
****************************************************************************************************
Student Record :
Name: Shourya Age: 7 Score(%) 93.91
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Name of student : Atharv
Age of student :7
Score in percentage : 94.91
****************************************************************************************************
Student Record :
Name: Atharv Age: 7 Score(%) 94.91
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Name of student : Amey
Age of student :2
Score in percentage : 99
****************************************************************************************************
Student Record :
Name: Amey Age: 2 Score(%) 99.0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
Name of student : Aditi
Age of student :12
Score in percentage : 95
****************************************************************************************************
Student Record :
Name: Aditi Age: 12 Score(%) 95.0
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

###### 39. write program for addition of n no of unknown numbers

In [33]:
def add(*numbers):
    print('Addition of unknwokn numbers :',sum(numbers))
    
add(4555,54353,6466,774747,77457,777,757,223,445)

Addition of unknwokn numbers : 919780

###### 40. write a program forargument is key-value pair where order does not matter

In [34]:
def my_display(kid1,kid3,kid5,kid2,kid4):
    print('first std kid is :',kid1)
    print('second std kid is :',kid2)
    print('third std kid is :',kid3)
    print('fourth std kid is :',kid4)
    print('fifth std kid is :',kid5)
    
my_display(kid3='VIRAT',kid2='Rohit',kid1='Akashay',kid4='Dhoni',kid5='Hardik')

first std kid is : Akashay
second std kid is : Rohit
third std kid is : VIRAT
fourth std kid is : Dhoni
fifth std kid is : Hardik

                                                                               Date: 24-April-2023

###### 41. write a program to create dictionary without manually and dict function  and acces that elements

In [1]:
def dictionary(**name):
    print('My user defined dictionary :',name)
    print('Accessing dictionary elements :',name['Age'])
    
dictionary(Team='Mumbai',Captan='Rohit',Age=36,Role='Batter')

My user defined dictionary : {'Team': 'Mumbai', 'Captan': 'Rohit', 'Age': 36, 'Role': 'Batter'}
Accessing dictionary elements : 36

###### 42. write  aprogram for to pass unlimited letters, display lenth of letters and iterate that letters

In [2]:
def display(*letters):
    print('My letters are :',letters)
    l=len(letters)
    print('Length of letters :',l)
    
    for i in letters:
        print(i)
        
display('C','H','A','T','R','A','P','A','T','I','S','H','I','V','A','J','I','M','A','H','A','R','A','J')

My letters are : ('C', 'H', 'A', 'T', 'R', 'A', 'P', 'A', 'T', 'I', 'S', 'H', 'I', 'V', 'A', 'J', 'I', 'M', 'A', 'H', 'A', 'R', 'A', 'J')
Length of letters : 24
C
H
A
T
R
A
P
A
T
I
S
H
I
V
A
J
I
M
A
H
A
R
A
J

###### 43. write program for display record of student by using init method

In [7]:
class Stud_record:
    
    def __init__(self,name,cls,rollno,school):
        self.name=name
        self.cls=cls
        self.rollno=rollno
        self.school=school
        
    def display_record(self):
        print('Name :',self.name)
        print('Class :',self.cls)
        print('Roll No:',self.rollno)
        print('School Name :',self.school)
        

number_of_stud=int(input('Total number of student records ='))

object_list=[]

for i in range(number_of_stud):
    name=input('Name of student {} ='.format(i+1))
    cls=input('Class name of student {} ='.format(i+1))
    rollno=int(input('Roll No of student {} ='.format(i+1)))
    school=input('School Name of student {} ='.format(i+1))
    object_list.append(Stud_record(name,cls,rollno,school))
    print('.'*100)
    
print('Displaying Student Record .......')
print('.'*100)

for student in object_list:
    student.display_record()
    print('*'*100)

Total number of student records =3
Name of student 1 =A
Class name of student 1 =F
Roll No of student 1 =10
School Name of student 1 =VISION
....................................................................................................
Name of student 2 =B
Class name of student 2 =S
Roll No of student 2 =20
School Name of student 2 =BLOSSOM
....................................................................................................
Name of student 3 =C
Class name of student 3 =S
Roll No of student 3 =30
School Name of student 3 =ZP
....................................................................................................
Name : A
Class : F
Roll No: 10
School Name : VISION
****************************************************************************************************
Name : B
Class : S
Roll No: 20
School Name : BLOSSOM
****************************************************************************************************
Name : C
Class : S
Roll No: 30
School Name : ZP
****************************************************************************************************

###### 44. write program for "how for loop internally work" by using iter and next.

In [5]:
class internal_code_forloop:
    
    def __iter__(self):
        self.val=1
        return self
    
    def __next__(self):
        x=self.val
        self.val+=1
        
        if x>10:
            raise StopIteration
        return x
    
loop = internal_code_forloop()

itr=iter(loop)

for i in itr:
    print(i)

1
2
3
4
5
6
7
8
9
10

###### 45. write a program for class 2 inherit properties of class 1

In [6]:
class base:
    
    def __init__(self,name,team,city):
        self.name=name
        self.team=team
        self.city=city
        
    def pdisplay(self):
        print('Player Name:',self.name)
        print('Team Name :',self.team)
        print('City Name :',self.city)
        
class child(base):
    
    def __init__(self,name,team,city,jersey):
        self.name=name
        self.team=team
        self.city=city
        self.jersey=jersey
        
    def cdisplay(self):
        print('Player Name:',self.name)
        print('Team Name :',self.team)
        print('City Name :',self.city)
        print('Jersey Number:',self.jersey)
        

print('Accessing through paratent class:')    
obj=base('Rohit','Mumbai Indians','Mumbai')
obj.pdisplay()

print('.'*100)

print('Accessing parent through child class:')    
obj=child('Rohit','Mumbai Indians','Mumbai',45)
obj.pdisplay()

print('.'*100)

print('Accessing child through child class:')    
obj=child('Rohit','Mumbai Indians','Mumbai',45)
obj.cdisplay()

Accessing through paratent class:
Player Name: Rohit
Team Name : Mumbai Indians
City Name : Mumbai
....................................................................................................
Accessing parent through child class:
Player Name: Rohit
Team Name : Mumbai Indians
City Name : Mumbai
....................................................................................................
Accessing child through child class:
Player Name: Rohit
Team Name : Mumbai Indians
City Name : Mumbai
Jersey Number: 45

                                                                               Date: 25-April-2023

###### 46. write program for match object of "is" and "who" for given string and also display start and end location of above object
Progress is impossible without change, and those who cannot change their minds cannot change anything

In [10]:
import re
txt = "Progress is impossible without change, and those who cannot change their minds cannot change anything"
x=re.search("^Progress.*anything$",txt)

if x:
    print("Yes string starts with 'Progress' Ends with 'anything'")
else:
    print('Does not have match')
    
print('input string for above string :',x.string)
print('start index',x.start())
print('end index',x.end())
print('start and end index for above object',x.span())

Yes string starts with 'Progress' Ends with 'anything'
input string for above string : Progress is impossible without change, and those who cannot change their minds cannot change anything
start index 0
end index 101
start and end index for above object (0, 101)

###### 47. write the program for to find the perticular characters occurance in a string.

In [25]:
def occurance():
    import re
    count=[]
    txt=input('Enter string to findout perticular words: ')
    print('txt :',txt)
    list1=input('Enter word to find :')
    
    for i in list1:
        cnt=re.findall(i,txt)
        count.append(len(cnt))
    return count

occurance()

Enter string to findout perticular words: After spending five years in this organization
txt : After spending five years in this organization
Enter word to find :i

[6]

###### 48. write the program for to find the words occurance in a string.

In [28]:
def word():
    import re
    count=[]
    txt='I strongly believe that this new change in my career will be my new beginning towards advancement'
    list1=['in','my','be']
    
    for i in list1:
        cnt=re.findall(i,txt)
        count.append(len(cnt))
    return count

word()

[3, 2, 3]

###### 49. write the program on try and except error on division opeartion

In [31]:
def divide(x,y):
    try:
        result=x//y
        print('Yeah..! your answer is = ',result)
        
    except ZeroDivisionError:
        print('Sorry ! You are dividing by zero')
        
divide(10,10)

Yeah..! your answer is =  1

In [32]:
def divide(x,y):
    try:
        result=x//y
        print('Yeah..! your answer is = ',result)
        
    except ZeroDivisionError:
        print('Sorry ! You are dividing by zero')
        
divide(10,0)

Sorry ! You are dividing by zero

###### 50. write program for findout value error by using try except method

In [34]:
while True:
    try:
        x=int(input('Enter number :'))
        break
    except ValueError:
        print("Oops! That was no valid number,Try again..!")

Enter number :99.99
Oops! That was no valid number,Try again..!
Enter number :100

                                                                                                 Date: 26-April-2023

# NumPy Programming

###### 51. . Create a null vector of size 10

In [1]:
import numpy as np

arr=np.zeros(10)
print(arr)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

###### 52.  How to find the memory size of an array

In [10]:
arr=np.arange(1,10)
print(arr)
arr2=arr.reshape(1,3,3)
print(arr2)

# checking memory size of array

print('memory size of arr in bytes :',arr.itemsize)
print('memory size of arr2 in bytes :',arr2.itemsize)

[1 2 3 4 5 6 7 8 9]
[[[1 2 3]
  [4 5 6]
  [7 8 9]]]
memory size of arr in bytes : 4
memory size of arr2 in bytes : 4

###### 53. Create a null vector of size 10 but the fifth value which is 1

In [12]:
arr=np.zeros(10)
arr[5]=1
print(arr)

[0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]

###### 54.  Create a vector with values ranging from 15 to 45

In [13]:
arr=np.arange(15,46)
print(arr)

[15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38
 39 40 41 42 43 44 45]

###### 55. Reverse a vector (The first element becomes last)

In [17]:
arr=np.arange(1,10)
print('original array :',arr)
print('modified array :',arr[::-1])

original array : [1 2 3 4 5 6 7 8 9]
modified array : [9 8 7 6 5 4 3 2 1]

                                                                                                         Date: 27-April-2023

###### 56. . Write a NumPy program to add, subtract, multiply, divide arguments element-wise

In [1]:
import numpy as np

arr1=np.arange(1,6)
arr2=np.arange(6,11)
print('arr1 :',arr1)
print('arr2 :',arr2)

add=np.array(arr1+arr2)
print('addition of arr1 and arr2 :',add)

sub=np.array(arr1-arr2)
print('subsrtaction of arr1 and arr2 :',sub)

mul=np.array(arr1*arr2)
print('multiplication of arr1 and arr2 :',mul)

div=np.array(arr1/arr2)
print('division of arr1 and arr2 :',div)

arr1 : [1 2 3 4 5]
arr2 : [ 6  7  8  9 10]
addition of arr1 and arr2 : [ 7  9 11 13 15]
subsrtaction of arr1 and arr2 : [-5 -5 -5 -5 -5]
multiplication of arr1 and arr2 : [ 6 14 24 36 50]
division of arr1 and arr2 : [0.16666667 0.28571429 0.375      0.44444444 0.5       ]

###### 57. Write a NumPy program to round elements of the array to the nearest integer

In [3]:
arr=np.array([1.25, 1.55, 1.75, 1.99, 2.18, 10.77, 100.9])

print('Original array :',arr)

round_arr=np.round(arr)
print('Rounded array :',round_arr)

Original array : [  1.25   1.55   1.75   1.99   2.18  10.77 100.9 ]
Rounded array : [  1.   2.   2.   2.   2.  11. 101.]

###### 58. Write a NumPy program to get the floor and ceiling values of the elements of a NumPy array

In [7]:
arr = np.array([10, 20, 30, 40, 50])
divisors = np.array([3, 4, 5, 6, 7])
print('array of elements :',arr)
print('array of divisors elements :',divisors)

div_arr=np.array(arr/ divisors)
print('normal division :',div_arr)

floor_arr=np.floor_divide(arr, divisors)
print('floor division :',floor_arr)

ceiling_arr = np.ceil(arr/divisors)
print('ceiling division :',ceiling_arr)

array of elements : [10 20 30 40 50]
array of divisors elements : [3 4 5 6 7]
normal division : [3.33333333 5.         6.         6.66666667 7.14285714]
floor division : [3 5 6 6 7]
ceiling division : [4. 5. 6. 7. 8.]

###### 59. Write a NumPy program to calculate mean across dimensions, in a 2D NumPy array.

In [13]:
arr=np.array([[1,2,3],[4,5,6]])
print('2D array :',arr)

row_mean=np.mean(arr,axis=1)
print('Row means :',row_mean)

col_mean=np.mean(arr,axis=0)
print('Columns means :',col_mean)

2D array : [[1 2 3]
 [4 5 6]]
Row means : [2. 5.]
Columns means : [2.5 3.5 4.5]

In [16]:
odd_data_point_arr=np.array([10,20,30])
even_data_point_arr=np.array([20,40,60,80])
print('odd_array :',odd_data_point_arr)
print('even_array :',even_data_point_arr)

odd_mean = np.mean(odd_data_point_arr)
print('odd array mean :',odd_mean)

even_mean = np.mean(even_data_point_arr)
print('odd array mean :',even_mean)

odd_array : [10 20 30]
even_array : [20 40 60 80]
odd array mean : 20.0
odd array mean : 50.0

###### 60. Write a NumPy program to convert angles from degrees to radians for all elements in a given array.

A degree is a unit of angle measurement, where one full circle (360 degrees) represents a **complete rotation**. In NumPy, angles can be expressed in degrees using the deg unit.

A radian is another unit of angle measurement, where one full circle (360 degrees) is equal to **2*pi radians**. In NumPy, angles can be expressed in radians using the rad unit.

NumPy provides various functions to convert between degrees and radians, such as np.deg2rad() and np.rad2deg(). These functions can be used to convert an array of angles from one unit to another.

In [17]:
deg_arr=np.array([0, 30, 45 ,60, 90, 120, 180, 240, 300, 360])
print('degree element array :',deg_arr)

deg_to_rad_arr = np.deg2rad(deg_arr)

print('degree to radian converted array :',deg_to_rad_arr)

degree element array : [  0  30  45  60  90 120 180 240 300 360]
degree to radian converted array : [0.         0.52359878 0.78539816 1.04719755 1.57079633 2.0943951
 3.14159265 4.1887902  5.23598776 6.28318531]

                                                                                                         Date: 28-April-2023

###### 61. What is the use of all and any function in numpy?

The **all()** function returns **True** if **all elements in the array evaluate to True** for the given condition, and **False otherwise**

The **any()** function, on the other hand, returns **True if at least one element in the array** evaluates to True for the given condition, and **False otherwise**.

In [12]:
import numpy as np


arr1=np.array([True, False, True, 1 , 2, 3])
print(arr1)
arr2=np.array([True, True, True, True, 1, 2])
print(arr2)
arr3=np.array([0,0,0,0,0])
print(arr3)

print('*'*100)

print('np.any() operation for arr1:',np.any(arr1))
print('np.any() operation for arr2:',np.any(arr2))
print('np.any() operation for arr3:',np.any(arr3))

print('*'*100)

print('np.all() operation for arr1:',np.all(arr1))
print('np.all() operation for arr2:',np.all(arr2))
print('np.all() operation for arr3:',np.all(arr3))

[1 0 1 1 2 3]
[1 1 1 1 1 2]
[0 0 0 0 0]
****************************************************************************************************
np.any() operation for arr1: True
np.any() operation for arr2: True
np.any() operation for arr3: False
****************************************************************************************************
np.all() operation for arr1: False
np.all() operation for arr2: True
np.all() operation for arr3: False

###### 62. Create a 3x3 matrix with values ranging from 0 to 8
    [[0 1 2]
    [3 4 5]
    [6 7 8]]

In [24]:
arr=np.arange(0,9)
print(arr)
arr_2d=arr.reshape(3,3)
print('array for 3x3 matrix with values ranging from 0 to 8 :\n',arr_2d)

[0 1 2 3 4 5 6 7 8]
array for 3x3 matrix with values ranging from 0 to 8 :
 [[0 1 2]
 [3 4 5]
 [6 7 8]]

###### 63. How to reverse the columns of a 2D array?
    ([[2, 1, 0],
    [5, 4, 3],
    [8, 7, 6]])

In [32]:
arr=np.arange(0,9)
arr_2d=arr.reshape(3,3)
print(arr_2d)
print('*'*100)
print('Printing reverse the columns of 2D array:')
arr_2d[:,::-1]

[[0 1 2]
 [3 4 5]
 [6 7 8]]
****************************************************************************************************
Printing reverse the columns of 2D array:

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

###### 64. How to reverse the rows of a 2D array?
    [[6, 7, 8],
    [3, 4, 5],
    [0, 1, 2]]

In [37]:
arr=np.arange(0,9)
print('original array :',arr)

# making the array reverse 
arr2 = arr[::-1]
print('reversed  array :',arr2)

# converting array into 2d
arr_2d=arr2.reshape(3,3)
print("Converted array :",arr_2d)

print('*'*100)

arr2=arr_2d[:,::-1]
print('Printing reverse the columns of 2D array:\n',arr2)

original array : [0 1 2 3 4 5 6 7 8]
reversed  array : [8 7 6 5 4 3 2 1 0]
Converted array : [[8 7 6]
 [5 4 3]
 [2 1 0]]
****************************************************************************************************
Printing reverse the columns of 2D array:
 [[6 7 8]
 [3 4 5]
 [0 1 2]]

###### 65.  Find indices of non-zero elements from [1,2,0,0,4,0]

In [39]:
arr=np.array([1,2,0,0,4,0])
print('Original Array :',arr)

non_zero_array=arr.nonzero()
print('non-zero elements in array :\n',non_zero_array)

Original Array : [1 2 0 0 4 0]
non-zero elements in array :
 (array([0, 1, 4], dtype=int64),)

                                                                                                         Date: 29-April-2023

###### 66. Write a NumPy program to compute the determinant of an array.

| a  b |
| c  d |

the determinant is defined as det(A) = ad - bc

**Note that the det() function can only be used to compute the determinant of a square matrix**

| 1  2 |
| 3  4 |

the determinant is defined as det(A) = 1*4 - 2*3 = 4 - 6 = -2

In [40]:
arr=np.array([[1,2],[3,4]])
print(arr)

determinant=np.linalg.det(arr)
print('Determinant of array :',determinant)

[[1 2]
 [3 4]]
Determinant of array : -2.0000000000000004

###### 67. Write a NumPy program to compute the inverse of a given matrix

In [43]:
arr=np.array([[1,2],[3,4]])
print(arr)

determinant=np.linalg.inv(arr)
print('Inverse of matrix:\n',determinant)

[[1 2]
 [3 4]]
Inverse of matrix:
 [[-2.   1. ]
 [ 1.5 -0.5]]

###### 68. Create a random vector of size 30 and find the mean value

In [49]:
random_vector=np.random.randint(1,31,30)
print('Random vector :\n',random_vector)
print('Size of random vector:',random_vector.size)
print('MEAN :',arr.mean())

Random vector :
 [ 3 28  1  8 24 15 19  4 17 11 20  8 26 13  8  5  3 28 20 13  3 23 13 26
 26 29 11  1 27  6]
Size of random vector: 30
MEAN : 2.5

###### 69. How to extract all numbers between a given range from a NumPy array?

In [50]:
import numpy as np

# Define an array
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# Define the range of values to extract
start = 3
end = 8

# Use boolean indexing to extract the values in the range
result = arr[(arr >= start) & (arr <= end)]

print(result)

[3 4 5 6 7 8]

###### 70.  Create a 3x3x3 array with random values

In [59]:
arr=np.random.randint(1,100,27)
arr_3x3x3=arr.reshape(3,3,3)

print('arr_3x3x3 array :',arr_3x3x3)

print('\nshape of array :',arr_3x3x3.shape)

arr_3x3x3 array : [[[97 89 88]
  [66 76 43]
  [78 68 66]]

 [[17 40 70]
  [16 71 94]
  [92 28 73]]

 [[93 36 21]
  [89 88 69]
  [42 49 85]]]

shape of array : (3, 3, 3)

                                                                                                         Date: 30-April-2023

###### 71. Create a 10x10 array with random values and find the minimum and maximum values

In [6]:
import numpy as np
arr=np.random.randint(1,1000,100)
arr=arr.reshape(10,10)
print('10 X 10 Array :\n',arr)
print('Minimum Value :',arr.min())
print('Maximum Value :',arr.max())

10 X 10 Array :
 [[553 762 970 818 242 328 994 331 298 785]
 [791 469  67 722  85 951 397 533 127 978]
 [ 10  72 149 753 294 367 814 432 655 960]
 [869 465 346  35 284 631 880 229 988 641]
 [660 512 555 161 471 990 740 700 609 340]
 [960 583 276 376 755  87 389 633 478 698]
 [994 507 678 703 330 764 952 143 640 686]
 [ 75 840 796 570 557 333 847 278 289 813]
 [854 592 978 330 978 133 308 799 242 226]
 [344 420 368  68 361 359 203 494 301 979]]
Minimum Value : 10
Maximum Value : 994

###### 72. Create a 2d array with 1 on the border and 0 inside
 
     [[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
      [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
      [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
      [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
      [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
      [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
      [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
      [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
      [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
      [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

In [15]:
# size of array
row=10
col=10

# creating empty 2D array with zeros
arr=[[0 for i in range(col)] for j in range(row)]

print(arr)

# creating border with 1's 

for i in range(row):
    for j in range(col):
        if i==0 or j==0 or i==row-1 or j==col-1:
            arr[i][j]=1
            
print("*"*100)

for row in arr:
    print(row)

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]
****************************************************************************************************
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]
[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]
[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]
[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]
[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]
[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]
[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]
[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

###### 73. Create a 5x5 matrix with values 1,2,3,4 just below the diagonal

In [38]:
arr=np.zeros((5,5),dtype=int)
print('Raw array:\n',arr)
print('*'*100)
np.fill_diagonal(arr[1:],[1,2,3,4,5])
print(arr)

Raw array:
 [[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]
****************************************************************************************************
[[0 0 0 0 0]
 [1 0 0 0 0]
 [0 2 0 0 0]
 [0 0 3 0 0]
 [0 0 0 4 0]]

###### 74. Create a 3x3 identity matrix

In [39]:
arr=np.identity(3)
print(arr)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

###### 75. Create a 8x8 matrix and fill it with a checkerboard pattern
    [[0 1 0 1 0 1 0 1]
    [1 0 1 0 1 0 1 0]
    [0 1 0 1 0 1 0 1]
    [1 0 1 0 1 0 1 0]
    [0 1 0 1 0 1 0 1]
    [1 0 1 0 1 0 1 0]
    [0 1 0 1 0 1 0 1]
    [1 0 1 0 1 0 1 0]]

In [46]:
# create a 8x8 matrix of zeros
arr = np.zeros((8, 8), dtype=int)
print(arr)
print('*'*100)

# fill in the checkerboard pattern
arr[1::2, ::2] = 1
arr[::2, 1::2] = 1

# print the matrix
print(arr)

[[0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]]
****************************************************************************************************
[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

                                                                                                         Date: 01-May-2023

###### 76.Multiply a 5x3 matrix by a 3x2 matrix (real matrix product)

In [6]:
import numpy as np
arr1=np.random.randint(1,100,15)
arr1=arr1.reshape(5,3)
print('5x3 matrix array:\n',arr1)
arr2=np.random.randint(1,100,6)
arr2=arr2.reshape(3,2)
print('3x2 matrix array:\n',arr2)
mul=np.dot(arr1,arr2)
print(mul)

5x3 matrix array:
 [[98 56  5]
 [42 15 40]
 [18 27 36]
 [76 56 23]
 [76 57 44]]
3x2 matrix array:
 [[49 93]
 [97 19]
 [34  9]]
[[10404 10223]
 [ 4873  4551]
 [ 4725  2511]
 [ 9938  8339]
 [10749  8547]]

###### 77. Given a 1D array, negate all elements which are between 3 and 8, in place

In [7]:
def negate_3_to_8(arr):
    for i in range(len(arr)):
        if 3 <= arr[i] <=8:
            arr[i]=-arr[i]
            
arr=np.arange(1,20)            
negate_3_to_8(arr)
print(arr)

[ 1  2 -3 -4 -5 -6 -7 -8  9 10 11 12 13 14 15 16 17 18 19]

###### 78. How to round away from zero a float array?

In [9]:
def round_away_from_zero(arr):
    return np.where(arr>=0, np.ceil(arr),np.floor(arr))

arr=np.array([-1.5, 2.7, -3.2, 1.9])
round_away_from_zero(arr)

array([-2.,  3., -4.,  2.])

###### 79. How to find common values between the two arrays?

In [13]:
def common_element(arr1,arr2):
    set1=set(arr1)
    set2=set(arr2)
    return list(set1.intersection(set2))

arr1=np.random.randint(1,50,10)
print('Array1 :',arr1)
arr2=np.random.randint(1,50,10)
print('Array2 :',arr2)

common_element(arr1,arr2)

Array1 : [23 34 49 43 46 20  9  8 38  3]
Array2 : [20  5 13 47 36 30 25 43 18 38]

[43, 20, 38]

###### 80. Create a vector of size 10 with values ranging from 0 to 1, both excluded

In [18]:
vector = np.linspace(0, 1, 10)[1:-1]
print(vector)

[0.11111111 0.22222222 0.33333333 0.44444444 0.55555556 0.66666667
 0.77777778 0.88888889]

                                                                                                         Date: 02-May-2023

###### 81. Create a random vector of size 10 and sort it

In [2]:
import numpy as np
arr=np.random.randint(1,100,10)
print('Original Array:',arr)
arr=np.sort(arr)
print('Sorted Array:',arr)

Original Array: [50 39 11 23 35 23 86 59 76 71]
Sorted Array: [11 23 23 35 39 50 59 71 76 86]

###### 82. Create a 5x5 matrix with row values ranging from 0 to 4
    [[0. 1. 2. 3. 4.]
    [0. 1. 2. 3. 4.]
    [0. 1. 2. 3. 4.]
    [0. 1. 2. 3. 4.]
    [0. 1. 2. 3. 4.]]

In [22]:
matrix=[]

for i in range(5):
    row=[]
    for j in range(5):
        row.append(j)
    matrix.append(row)
    
arr=np.array(matrix)
arr=arr.reshape(5,5)
print(arr)

[[0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]]

###### 83. Consider two random arrays A and B, check if they are equal

In [24]:
A = np.random.rand(5)  
B = np.random.rand(5) 

if np.array_equal(A, B):
    print("Arrays A and B are equal")
else:
    print("Arrays A and B are not equal")

Arrays A and B are not equal

###### 84. Create a random vector of size 10 and replace the maximum value by 0

In [29]:
arr = np.random.rand(10)

print("Original vector:")
print(arr)

# Find the maximum value in the vector
max_val = np.max(arr)

# Replace the maximum value with 0
arr[arr == max_val] = 0

print("Modified vector:")
print(arr)

Original vector:
[0.65242294 0.98797657 0.81097497 0.50620886 0.90823575 0.76765222
 0.06886571 0.6640214  0.65886518 0.81975595]
Modified vector:
[0.65242294 0.         0.81097497 0.50620886 0.90823575 0.76765222
 0.06886571 0.6640214  0.65886518 0.81975595]

###### 85. How to find out multiple indices of an item?

In [30]:
# Create a random array with some duplicate/multiple values
arr = np.array([0, 1, 2, 3, 2, 4, 2, 5])

# Find all indices of the value 2
indices = np.where(arr == 2)[0]

# Print the indices
print(indices)

[2 4 6]

                                                                                                         Date: 03-May-2023

###### 86. What is the equivalent of enumerate for NumPy arrays?

Using a for loop to iterate over a list only gives us access to every list element in each run, one after the other. If one also wants to access the index information, so where the list element we are iterating over is located, we can use enumerate().

In [1]:
import numpy as np

A = np.array([[1,2,3],[4,5,6],[7,8,9]])
for index, values in np.ndenumerate(A):
    print(index, values)

(0, 0) 1
(0, 1) 2
(0, 2) 3
(1, 0) 4
(1, 1) 5
(1, 2) 6
(2, 0) 7
(2, 1) 8
(2, 2) 9

###### 87. How to sort an array by the nth column?

In [8]:
inputarr=np.random.randint(1,100,(4,4))
print('Input array is :\n',inputarr)

# n=input(int('Enter nth column location:'))
n=2
print('*'*100)
print(inputarr[inputarr[:,n].argsort()])

Input array is :
 [[33 39 38 64]
 [ 4 71  3 66]
 [22 79 51 78]
 [43 62 52 42]]
****************************************************************************************************
[[ 4 71  3 66]
 [33 39 38 64]
 [22 79 51 78]
 [43 62 52 42]]

###### 88. How to swap two rows of an array?

In [16]:
inputarr=np.random.randint(1,100,(4,4))
print('Original Array:\n',inputarr)

print("*"*100)

inputarr[[0,3]]=inputarr[[3,0]]
print('Rows swapcase:\n',inputarr)

Original Array:
 [[81 10 37 14]
 [57 69 15 30]
 [40 41 92 31]
 [12 76 39 80]]
****************************************************************************************************
Rows swapcase:
 [[12 76 39 80]
 [57 69 15 30]
 [40 41 92 31]
 [81 10 37 14]]

In [17]:
inputarr=np.random.randint(1,100,(4,4))
print('Original Array:\n',inputarr)

print("*"*100)

inputarr[:,[0,3]]=inputarr[:,[3,0]]
print('Columns swapcase:\n',inputarr)

Original Array:
 [[38 25 36 79]
 [53 85 25 80]
 [38 66 88 63]
 [87 26 14  2]]
****************************************************************************************************
Columns swapcase:
 [[79 25 36 38]
 [80 85 25 53]
 [63 66 88 38]
 [ 2 26 14 87]]

###### 89. How to compute the mean of a NumPy array?

In [20]:
inputarr=np.random.randint(1,100,(10))
print('Original Array:\n',inputarr)

print("*"*100)

mean1=np.mean(inputarr)
print('Mean of array:',mean1)

Original Array:
 [40 55 17 30 25 26 59 32 77 69]
****************************************************************************************************
Mean of array: 43.0

###### 90.  How to compute the median of a NumPy array?

In [21]:
inputarr=np.random.randint(1,100,(10))
print('Original Array:\n',inputarr)

print("*"*100)

median1=np.median(inputarr)
print('Median of array:',median1)

Original Array:
 [15 22 22 10  9 62 20 96 42 64]
****************************************************************************************************
Median of array: 22.0

                                                                                                         Date: 04-May-2023

###### 91. How to compute the standard deviation of a NumPy array?

In [1]:
import numpy as np
arr=np.linspace(1,15,10)
print('Original Array:\n',arr)
std_deviation=np.std(arr)
print('Standard Deviation:',std_deviation)

Original Array:
 [ 1.          2.55555556  4.11111111  5.66666667  7.22222222  8.77777778
 10.33333333 11.88888889 13.44444444 15.        ]
Standard Deviation: 4.467993169529578

###### 92. How to compute the mode of a NumPy array?

In [18]:
arr=np.array([1,2,3,4,4,5,5,5,5,6,6,5,4,3,3,3,4,5,5,6,7,6])
print('Original Array:\n',arr)

from scipy import stats
mode1=stats.mode(arr)
print('Standard Deviation:',mode1)

Original Array:
 [1 2 3 4 4 5 5 5 5 6 6 5 4 3 3 3 4 5 5 6 7 6]
Standard Deviation: ModeResult(mode=array([5]), count=array([7]))

C:\Users\Digvijay Mohite\AppData\Local\Temp\ipykernel_19132\2175079313.py:5: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode1=stats.mode(arr)

In [22]:
arr=np.array([1,2,3,4,4,5,5,5,5,6,6,5,4,3,3,3,4,5,5,6,7,6])
print('Original Array:\n',arr)

unique_values, value_counts=np.unique(arr,return_counts=True)

mode_index=np.argmax(value_counts)

mode=unique_values[mode_index]

print('Mode:',mode)

Original Array:
 [1 2 3 4 4 5 5 5 5 6 6 5 4 3 3 3 4 5 5 6 7 6]
Mode: 5

###### 93. How to print only 3 decimal places in a python NumPy array?

In [24]:
arr=np.random.rand(10)
print('Original Array:',arr)

np.set_printoptions(precision=3)
print('Modified Array:',arr)

Original Array: [0.13650707 0.72955264 0.45468345 0.78307398 0.46520315 0.17237104
 0.79844846 0.15790582 0.57589918 0.94450979]
Modofied Array: [0.137 0.73  0.455 0.783 0.465 0.172 0.798 0.158 0.576 0.945]

###### 94. Write a NumPy program to compute the inverse of a given matrix

In [29]:
arr=np.array([1,2,3,4,5,6,7,8,9])
print('Original Array:',arr)

print('Reverse matrix Array:',arr[::-1])

Original Array: [1 2 3 4 5 6 7 8 9]
Reverse matrix Array: [9 8 7 6 5 4 3 2 1]

###### 95. Write a NumPy program to compute the covariance matrix of two given arrays

In [30]:
a=np.array([1,2,3,4,5,6,7,8,9])
b=np.array([9,8,7,6,5,4,3,2,1])
print('a:',a)
print('b:',b)
cov_matrix=np.cov(a,b)
print('Covariance matrix:\n',cov_matrix)

a: [1 2 3 4 5 6 7 8 9]
b: [9 8 7 6 5 4 3 2 1]
Covariance matrix:
 [[ 7.5 -7.5]
 [-7.5  7.5]]

                                                                                                         Date: 05-May-2023

###### 96. How to find the most frequent value in a NumPy array?

In [10]:
import numpy as np

arr=np.array([1,1,2,2,3,3,3,3,3,4,4,4,4,5,5,6,6,7,7,8,8,8,8,9,7,6,5,4,3,3,3,2,3,4,4,5,6])
print('Array :\n',arr)

unique_values, value_counts=np.unique(arr,return_counts=True)

mode_index=np.argmax(value_counts)

mode=unique_values[mode_index]

print('Most Frequent Value :',mode)

print("*"*100)
for value, count in zip(unique_values, value_counts):
    print(f'{value} : {count}')

Array :
 [1 1 2 2 3 3 3 3 3 4 4 4 4 5 5 6 6 7 7 8 8 8 8 9 7 6 5 4 3 3 3 2 3 4 4 5 6]
Most Frequent Value : 3
****************************************************************************************************
1 : 2
2 : 3
3 : 9
4 : 7
5 : 4
6 : 4
7 : 3
8 : 4
9 : 1

###### 97. How to convert 1D array to 3D array?

In [19]:
arr_1d=np.linspace(1,100,10)
print('1D Array :',arr_1d)
print('No. of Dimentions:',arr_1d.ndim)

arr_2d=np.array(arr_1d,ndmin=2)
print('2D Array :',arr_2d)
print('No. of Dimentions:',arr_2d.ndim)

arr_2d=np.reshape(arr_1d,(5,2))
print('2D Array :\n',arr_2d)
print('No. of Dimentions:',arr_2d.ndim)

1D Array : [  1.  12.  23.  34.  45.  56.  67.  78.  89. 100.]
No. of Dimentions: 1
2D Array : [[  1.  12.  23.  34.  45.  56.  67.  78.  89. 100.]]
No. of Dimentions: 2
2D Array :
 [[  1.  12.]
 [ 23.  34.]
 [ 45.  56.]
 [ 67.  78.]
 [ 89. 100.]]
No. of Dimentions: 2

###### 98. How to convert 4D array to 2D array?

In [46]:
arr_4d=np.array(arr,ndmin=4)
print('4D Array :\n',arr_4d)
print('No. of Dimentions:',arr_4d.ndim)
print('Items of array:',arr_4d.size)

# arr_2d=np.reshape(arr_4d,(1,1,))
arr_2d = arr_4d.reshape(-1,arr_4d.shape[-1])
print('2D Array :\n',arr_2d)
print('No. of Dimentions:',arr_2d.ndim)
print('Items of array:',arr_2d.size)

4D Array :
 [[[[1 1 2 2 3 3 3 3 3 4 4 4 4 5 5 6 6 7 7 8 8 8 8 9 7 6 5 4 3 3 3 2 3 4
    4 5 6]]]]
No. of Dimentions: 4
Items of array: 37
2D Array :
 [[1 1 2 2 3 3 3 3 3 4 4 4 4 5 5 6 6 7 7 8 8 8 8 9 7 6 5 4 3 3 3 2 3 4 4 5
  6]]
No. of Dimentions: 2
Items of array: 37

###### 99. Create a Numpy array filled with all zeros

In [47]:
arr=np.zeros(10)
print(arr)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

###### 100. Find the number of rows and columns of a given matrix using NumPy

In [54]:
arr_1d=np.array([[1,100]])
print('1D Array :',arr_1d)
print('No. of Dimentions:',arr_1d.shape)

1D Array : [[  1 100]]
No. of Dimentions: (1, 2)

                                                                                                         Date: 06-May-2023

### Pandas Programming

###### 101. How Can You Create An Empty DataFrame and series in Pandas?

In [55]:
import pandas as pd
df=pd.DataFrame()
print(df)
sr=pd.Series()
print(sr)

Empty DataFrame
Columns: []
Index: []
Series([], dtype: object)

###### 102. How to check an empty DataFrame?

In [56]:
df=pd.DataFrame()

# one way
if df.empty:
    print('Dataframe is empty')

# another way
if len(df)==0:
    print('DataFrame is empty')

Dataframe is empty
DataFrame is empty

###### 103. How Will You Explain Reindexing In Pandas?

In [61]:
df=pd.DataFrame({'A':[0,1,2],
                'B':[2,3,4],
                'C':[4,5,6]})
print('Original Dataframe :\n',df)

print('*'*100)

newdf=df.reindex([2,1,0])
print('Rows reindexed :\n',newdf)

print('*'*100)

newdf2=df.reindex(columns=['C','B','A'],fill_value=0)
print('Columns reindexed :\n',newdf2)

Original Dataframe :
    A  B  C
0  0  2  4
1  1  3  5
2  2  4  6
****************************************************************************************************
Rows reindexed :
    A  B  C
2  2  4  6
1  1  3  5
0  0  2  4
****************************************************************************************************
Columns reindexed :
    C  B  A
0  4  2  0
1  5  3  1
2  6  4  2

###### 104. What are the different ways of creating DataFrame in pandas? Explain with examples

In [65]:
# 1. Creating dataframe from list of lists or arrays
data=[['A',10],['B',11],['C',12]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

  Name  Age
0    A   10
1    B   11
2    C   12

In [67]:
# 2. Creating dataframe from dictionary
data={'A':[10],'B':[11],'C':[12]}
df=pd.DataFrame(data)
print(df)

    A   B   C
0  10  11  12

In [68]:
# 3. Creating dataframe from list of tuple
data=[('A',10),('B',11),('C',12)]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

  Name  Age
0    A   10
1    B   11
2    C   12

In [69]:
# 4. Creating empty dataframe

df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [70]:
# 5. Creating dataframe from .csv file or .xlsx file
# df=pd.read_csv('data.csv')
# print(df)

# df=pd.read_excel('data.xlsx')
# print(df)

###### 105. Create a DataFrame using Numpy Functions.

In [73]:
a=np.array(['A','B','C'])

print(a)

df=pd.DataFrame(a,columns=['Name'])
print(df)

['A' 'B' 'C']
  Name
0    A
1    B
2    C

In [74]:
data=np.array([[1,2,3],[2,3,4],[3,4,5]])
print(data)
df=pd.DataFrame(data, columns=['A','B','C'])
print(df)

[[1 2 3]
 [2 3 4]
 [3 4 5]]
   A  B  C
0  1  2  3
1  2  3  4
2  3  4  5

                                                                                                         Date: 07-May-2023

###### 106. How to convert a NumPy array to a DataFrame of a given shape?

In [2]:
import numpy as np
import pandas as pd

arr=np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
print(arr,arr.ndim)

print('*'*100)

col =2
row =6

df=pd.DataFrame(arr.reshape(row,col))
print(df)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]] 2
****************************************************************************************************
    0   1
0   1   2
1   3   4
2   5   6
3   7   8
4   9  10
5  11  12

###### 107. Create a DataFrame using Dictionary with a list and arrays

In [4]:
data={
    'Name': ['Abhimanyu','Shourya','Sachin','Digvijay'],
    'Age': [6, 7, 31, 34],
    'Scores': np.array([85, 92, 70, 65])
}

df=pd.DataFrame(data)
print(df)

        Name  Age  Scores
0  Abhimanyu    6      85
1    Shourya    7      92
2     Sachin   31      70
3   Digvijay   34      65

###### 108. How To Create A Copy Of The Series and DataFrame in Pandas?

In [12]:
s=pd.Series([10,20,30,40])
print('Series:\n',s)
new_s=s.copy()
print("New_Series :\n",new_s)

print('*'*100)

df=pd.DataFrame([[10,20,30,40],[50,60,70,80]])
print('DataFrame:\n',df)
new_df=df.copy()
print("New_DataFrame :\n",new_df)

Series:
 0    10
1    20
2    30
3    40
dtype: int64
New_Series :
 0    10
1    20
2    30
3    40
dtype: int64
****************************************************************************************************
DataFrame:
     0   1   2   3
0  10  20  30  40
1  50  60  70  80
New_DataFrame :
     0   1   2   3
0  10  20  30  40
1  50  60  70  80

###### 109. How Will You Add An Index, Row, Or Column To A DataFrame In Pandas?

###### a. Adding index

In [64]:
# 1. Set index by using existing column

data=[['A','B'],['C','D'],[10,20],[30,40]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

print('*'*100)

newdf=df.set_index('Name')
print(newdf)

  Name Age
0    A   B
1    C   D
2   10  20
3   30  40
****************************************************************************************************
     Age
Name
A      B
C      D
10    20
30    40

In [66]:
# 2.Assign new index
print(df)
print('*'*100)
df.index=[10.10,20.20,30.30,40.40]
print(df)

    Name Age
100    A   B
200    C   D
300   10  20
400   30  40
****************************************************************************************************
     Name Age
10.1    A   B
20.2    C   D
30.3   10  20
40.4   30  40

###### b. Adding a row

In [70]:
df = pd.DataFrame({'Name': ['John', 'Emma', 'Michael'],
                   'Age': [25, 30, 28]})

print(df)
print('*'*100)

# Adding new row
new_row = pd.DataFrame({'Name':'Digvijay','Age':34},index=[3])
df2=pd.concat([df,new_row])
print(df2)

      Name  Age
0     John   25
1     Emma   30
2  Michael   28
****************************************************************************************************
       Name  Age
0      John   25
1      Emma   30
2   Michael   28
3  Digvijay   34

###### c. Adding a column

In [71]:
print(df2)

print('*'*100)

df2['Score']=[91,92,93,94]

print(df2)

       Name  Age
0      John   25
1      Emma   30
2   Michael   28
3  Digvijay   34
****************************************************************************************************
       Name  Age  Score
0      John   25     91
1      Emma   30     92
2   Michael   28     93
3  Digvijay   34     94

###### 110. What Method Will You Use To Rename The Index Or Columns Of Pandas DataFrame?

In [78]:
df = pd.DataFrame({'Name': ['Rohit', 'Virat', 'Hardik'],
                   'Age': [35, 34, 33]})
print(df)

print('*'*100)

df.rename(index={0:1.1, 1:2.2, 2:3.3, 3:4.4},inplace=True)
print("Renaming Index:\n",df)


df.rename(columns={'Name':'Full Name','Age':'Age of Candidate'},inplace=True)
print("Renaming Column:\n",df)

     Name  Age
0   Rohit   35
1   Virat   34
2  Hardik   33
****************************************************************************************************
Renaming Index:
        Name  Age
1.1   Rohit   35
2.2   Virat   34
3.3  Hardik   33
Renaming Column:
     Full Name  Age of Candidate
1.1     Rohit                35
2.2     Virat                34
3.3    Hardik                33

                                                                                                         Date: 08-May-2023

###### 111. How Can You Iterate Over DataFrame In Pandas?

In [12]:
import pandas as pd
import numpy as np

data=[['A',10,'Pune',12.1],['B',20,'Mumbai',11.3],['C',30,'Delhi',12.5],['D',40,'Banglore',15.2]]
df=pd.DataFrame(data,columns=['Name','Jercy','City','Package (Lkh/Annum)'])
print(df)

print('*'*100)

for index, row in df.iterrows():
    print(index,row)
    print('.'*100)

  Name  Jercy      City  Package (Lkh/Annum)
0    A     10      Pune                 12.1
1    B     20    Mumbai                 11.3
2    C     30     Delhi                 12.5
3    D     40  Banglore                 15.2
****************************************************************************************************
0 Name                      A
Jercy                    10
City                   Pune
Package (Lkh/Annum)    12.1
Name: 0, dtype: object
....................................................................................................
1 Name                        B
Jercy                      20
City                   Mumbai
Package (Lkh/Annum)      11.3
Name: 1, dtype: object
....................................................................................................
2 Name                       C
Jercy                     30
City                   Delhi
Package (Lkh/Annum)     12.5
Name: 2, dtype: object
....................................................................................................
3 Name                          D
Jercy                        40
City                   Banglore
Package (Lkh/Annum)        15.2
Name: 3, dtype: object
....................................................................................................

###### 112. How to create an array from DataFrame

In [15]:
data=[['A',10,'Pune',12.1],['B',20,'Mumbai',11.3],['C',30,'Delhi',12.5],['D',40,'Banglore',15.2]]
df=pd.DataFrame(data,columns=['Name','Jercy','City','Package (Lkh/Annum)'])
print(df)

print('*'*100)

arr=np.array(df)
arr

  Name  Jercy      City  Package (Lkh/Annum)
0    A     10      Pune                 12.1
1    B     20    Mumbai                 11.3
2    C     30     Delhi                 12.5
3    D     40  Banglore                 15.2
****************************************************************************************************

array([['A', 10, 'Pune', 12.1],
       ['B', 20, 'Mumbai', 11.3],
       ['C', 30, 'Delhi', 12.5],
       ['D', 40, 'Banglore', 15.2]], dtype=object)

###### 113. How to create a list from DataFrame

In [21]:
data=[['A',10,'Pune',12.1],['B',20,'Mumbai',11.3],['C',30,'Delhi',12.5],['D',40,'Banglore',15.2]]
df=pd.DataFrame(data,columns=['Name','Jercy','City','Package (Lkh/Annum)'])
print(df)

print('*'*100)

lst=df.values.tolist()
lst,type(lst)

  Name  Jercy      City  Package (Lkh/Annum)
0    A     10      Pune                 12.1
1    B     20    Mumbai                 11.3
2    C     30     Delhi                 12.5
3    D     40  Banglore                 15.2
****************************************************************************************************

([['A', 10, 'Pune', 12.1],
  ['B', 20, 'Mumbai', 11.3],
  ['C', 30, 'Delhi', 12.5],
  ['D', 40, 'Banglore', 15.2]],
 list)

###### 114. How to Reset the dataframes index?

In [26]:
data=[['A',10,'Pune',12.1],['B',20,'Mumbai',11.3],['C',30,'Delhi',12.5],['D',40,'Banglore',15.2]]
df=pd.DataFrame(data,columns=['Name','Jercy','City','Package (Lkh/Annum)'])
print(df)

print('*'*100)

df.rename(index={0:'one',1:'two',2:'three',3:'four'},inplace=True)
print(df)

  Name  Jercy      City  Package (Lkh/Annum)
0    A     10      Pune                 12.1
1    B     20    Mumbai                 11.3
2    C     30     Delhi                 12.5
3    D     40  Banglore                 15.2
****************************************************************************************************
      Name  Jercy      City  Package (Lkh/Annum)
one      A     10      Pune                 12.1
two      B     20    Mumbai                 11.3
three    C     30     Delhi                 12.5
four     D     40  Banglore                 15.2

###### 115. Write a Pandas program to count the number of rows and columns of a DataFrame

In [27]:
data=[['A',10,'Pune',12.1],['B',20,'Mumbai',11.3],['C',30,'Delhi',12.5],['D',40,'Banglore',15.2]]
df=pd.DataFrame(data,columns=['Name','Jercy','City','Package (Lkh/Annum)'])
print(df)

print('*'*100)

print(df.shape)

  Name  Jercy      City  Package (Lkh/Annum)
0    A     10      Pune                 12.1
1    B     20    Mumbai                 11.3
2    C     30     Delhi                 12.5
3    D     40  Banglore                 15.2
****************************************************************************************************
(4, 4)

                                                                                                         Date: 09-May-2023

###### 116. Write a Pandas program to add, subtract, multiple, and divide two Pandas Series

In [1]:
import pandas as pd
import numpy as np

s1=pd.Series([1,2,3,4,5,6,7,8,9,10])
s2=pd.Series([11,22,33,44,55,66,77,88,99,1010])
print('Series 1:',s1)
print('Series 2:',s2)

print('Addition :',s1+s2)
print('Subtraction :',s2-s1)
print('Multiplication :',s1*s2)
print('Division :',s1/s2)

Series 1: 0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
Series 2: 0      11
1      22
2      33
3      44
4      55
5      66
6      77
7      88
8      99
9    1010
dtype: int64
Addition : 0      12
1      24
2      36
3      48
4      60
5      72
6      84
7      96
8     108
9    1020
dtype: int64
Subtraction : 0      10
1      20
2      30
3      40
4      50
5      60
6      70
7      80
8      90
9    1000
dtype: int64
Multiplication : 0       11
1       44
2       99
3      176
4      275
5      396
6      539
7      704
8      891
9    10100
dtype: int64
Division : 0    0.090909
1    0.090909
2    0.090909
3    0.090909
4    0.090909
5    0.090909
6    0.090909
7    0.090909
8    0.090909
9    0.009901
dtype: float64

###### 117. Write a Pandas program to import excel data into a Pandas dataframe

In [2]:
df=pd.read_excel(r"C:\Users\Digvijay Mohite\PYTHON & DATA SCIENCE\Past\Machin Learning\Project\01.07.2021.xlsx")
df.head()

,Date,Time,Vrms ph-ph AB Avg,Vrms ph-ph BC Avg,Vrms ph-ph CA Avg,Current A Avg,Current B Avg,Current C Avg,Active Power AN Avg,Active Power BN Avg,...,DPF CN Avg,DPF Total Avg,THD V AN Avg,THD V BN Avg,THD V CN Avg,THD V NG Avg,THD A A Avg,THD A B Avg,THD A C Avg,THD A N Avg
0,2021-07-01,12:00:00 AM.415,34485.0,34455.0,34356.0,17.7,16.8,15.3,350000.0,330000.0,...,1.0,1.0,0.61,0.62,0.46,9.51,10.58,13.11,11.14,75.99
1,2021-07-01,12:00:01 AM.415,34476.0,34449.0,34350.0,17.4,16.8,15.3,350000.0,330000.0,...,1.0,1.0,0.62,0.63,0.46,9.25,10.61,13.19,11.21,72.74
2,2021-07-01,12:00:02 AM.415,34452.0,34422.0,34323.0,17.7,16.8,15.3,350000.0,330000.0,...,1.0,1.0,0.62,0.63,0.47,9.37,10.52,13.08,11.12,63.60
3,2021-07-01,12:00:03 AM.415,34476.0,34449.0,34344.0,17.4,16.8,15.3,350000.0,330000.0,...,1.0,1.0,0.62,0.63,0.46,9.19,10.65,13.21,11.22,84.59
4,2021-07-01,12:00:04 AM.415,34488.0,34458.0,34359.0,17.4,16.8,15.0,340000.0,330000.0,...,1.0,1.0,0.63,0.63,0.47,8.78,10.69,13.22,11.27,76.81

###### 118. Write a Pandas program to read specific columns from a given excel file

In [4]:
df.columns

Index(['Date', 'Time', 'Vrms ph-ph AB Avg', 'Vrms ph-ph BC Avg',
       'Vrms ph-ph CA Avg', 'Current A Avg', 'Current B Avg', 'Current C Avg',
       'Active Power AN Avg', 'Active Power BN Avg', 'Active Power CN Avg',
       'Active Power Total Avg', 'Apparent Power AN Avg',
       'Apparent Power BN Avg', 'Apparent Power CN Avg',
       'Apparent Power Total Avg', 'Reactive Power AN Avg',
       'Reactive Power BN Avg', 'Reactive Power CN Avg',
       'Reactive Power Total Avg', 'Power Factor AN Avg',
       'Power Factor BN Avg', 'Power Factor CN Avg', 'Power Factor Total Avg',
       'Cos Phi AN Avg', 'Cos Phi BN Avg', 'Cos Phi CN Avg',
       'Cos Phi Total Avg', 'DPF AN Avg', 'DPF BN Avg', 'DPF CN Avg',
       'DPF Total Avg', 'THD V AN Avg', 'THD V BN Avg', 'THD V CN Avg',
       'THD V NG Avg', 'THD A A Avg', 'THD A B Avg', 'THD A C Avg',
       'THD A N Avg'],
      dtype='object')

In [5]:
df['Active Power Total Avg']

0        9.900000e+05
1        9.600000e+05
2        9.900000e+05
3        9.600000e+05
4        9.600000e+05
             ...
86414             NaN
86415             NaN
86416    8.400000e+05
86417    1.464817e+06
86418    6.150000e+06
Name: Active Power Total Avg, Length: 86419, dtype: float64

###### 119. Write a Pandas program to find the sum, mean, max, min value of dataframe

In [13]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}

df = pd.DataFrame(data)
print(df)

sum_values = df.sum()
mean_values = df.mean()
max_values = df.max()
min_values = df.min()


print("Sum:\n", sum_values)
print("\nMean:\n", mean_values)
print("\nMaximum:\n", max_values)
print("\nMinimum:\n", min_values)

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15
Sum:
 A    15
B    40
C    65
dtype: int64

Mean:
 A     3.0
B     8.0
C    13.0
dtype: float64

Maximum:
 A     5
B    10
C    15
dtype: int64

Minimum:
 A     1
B     6
C    11
dtype: int64

###### 120. How Can A DataFrame Be Converted To An Excel File and CSV file?

In [19]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}

df = pd.DataFrame(data)
print(df)

excel=df.to_excel('df.xlsx')
csv=df.to_csv('df.csv')

df_csv=pd.read_csv('df.csv')
df_excel=pd.read_excel('df.xlsx')

print(df_csv)
print(df_excel)

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15
   Unnamed: 0  A   B   C
0           0  1   6  11
1           1  2   7  12
2           2  3   8  13
3           3  4   9  14
4           4  5  10  15
   Unnamed: 0  A   B   C
0           0  1   6  11
1           1  2   7  12
2           2  3   8  13
3           3  4   9  14
4           4  5  10  15

                                                                                                         Date: 10-May-2023

###### 121. What is Groupby Function In Pandas? Explain with example

In [3]:
# groupby function is used for Aggregating statistics grouped by category
import numpy as np
import pandas as pd
data=[('A',111,'PUNE'),('B',222,'MUMBAI'),('C',333,'DELHI')]

df=pd.DataFrame(data,columns=['Name','Age','City'])
print(df)

df.groupby('Name')[['Age']].value_counts()

  Name  Age    City
0    A  111    PUNE
1    B  222  MUMBAI
2    C  333   DELHI

Name  Age
A     111    1
B     222    1
C     333    1
Name: count, dtype: int64

###### 122. What is the use of apply function in pandas?

The apply() function is a powerful method that allows you to apply a function along an axis of a DataFrame or Series

syntax :
        DataFrame.apply(func, axis=0, args=(), **kwargs)
        
        func > python, numpy, lambda

###### 123. How to use apply() with lambda function?

In [4]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Use apply() with a lambda function to square each element in column 'A'
df['A_squared'] = df['A'].apply(lambda x: x ** 2)

print(df)

   A   B  A_squared
0  1  10          1
1  2  20          4
2  3  30          9
3  4  40         16
4  5  50         25

###### 124. Write a Pandas program to check whether only a title case is present in a given column of a DataFrame.

In [6]:
data = {'Name': ['Rohit Shrama', 'stive Smith', 'Samson', 'Hardik']}
df = pd.DataFrame(data)

# Check if values in 'Name' column are in title case
is_title_case = df['Name'].apply(lambda x: x.istitle())

# Check if all values are in title case
all_title_case = is_title_case.all()

print(all_title_case)

False

###### 125. What is the map Function In Pandas?

 It is used to perform mapping or substitution operations on the elements of a Series based on a provided mapping or function.

In [7]:
import pandas as pd

# Create a sample Series
grades = pd.Series(['A', 'B', 'C', 'B', 'A'])

# Define a mapping dictionary
grade_mapping = {'A': 'Excellent', 'B': 'Good', 'C': 'Average'}

# Map the grades using the dictionary
mapped_grades = grades.map(grade_mapping)

print(mapped_grades)

0    Excellent
1         Good
2      Average
3         Good
4    Excellent
dtype: object

                                                                                                         Date: 11-May-2023

###### 126. How will you add a column to a pandas DataFrame?

In [22]:
import numpy as np
import pandas as pd

data={'Name':['Digvijay','Pravin','Abhimanyu','Shourya','Atharv','Amey','Samrat'],
     'Age' :[34, 33, 6, 7, 6, 2, 3],
     'City':['Pune','Pune','Sangli','Satara','Kolhapur','Belgaum','Chennai']}

df = pd.DataFrame(data)
print('Original Dataframe:\n',df)

Original Dataframe:
         Name  Age      City
0   Digvijay   34      Pune
1     Pravin   33      Pune
2  Abhimanyu    6    Sangli
3    Shourya    7    Satara
4     Atharv    6  Kolhapur
5       Amey    2   Belgaum
6     Samrat    3   Chennai

In [23]:
df['Jercy'] = [9,10,3,14,20,33,2] # adding columns to dataframe
df

        Name  Age      City  Jercy
0   Digvijay   34      Pune      9
1     Pravin   33      Pune     10
2  Abhimanyu    6    Sangli      3
3    Shourya    7    Satara     14
4     Atharv    6  Kolhapur     20
5       Amey    2   Belgaum     33
6     Samrat    3   Chennai      2

###### 127. How will you add a column at a specific index to a pandas DataFrame?

In [24]:
df

        Name  Age      City  Jercy
0   Digvijay   34      Pune      9
1     Pravin   33      Pune     10
2  Abhimanyu    6    Sangli      3
3    Shourya    7    Satara     14
4     Atharv    6  Kolhapur     20
5       Amey    2   Belgaum     33
6     Samrat    3   Chennai      2

In [25]:
new_col=['Paneer','Tari','Mango','Fish', 'Vadapaav','Cake','Icecreme']
index=1
df.insert(loc=index, column='Fev food', value=new_col)
df

        Name  Fev food  Age      City  Jercy
0   Digvijay    Paneer   34      Pune      9
1     Pravin      Tari   33      Pune     10
2  Abhimanyu     Mango    6    Sangli      3
3    Shourya      Fish    7    Satara     14
4     Atharv  Vadapaav    6  Kolhapur     20
5       Amey      Cake    2   Belgaum     33
6     Samrat  Icecreme    3   Chennai      2

###### 128. How to Delete Indices, Rows, or Columns From a Pandas DataFrame?

In [27]:
# delete single indices
df=df.drop(6)
df

        Name  Fev food  Age      City  Jercy
0   Digvijay    Paneer   34      Pune      9
1     Pravin      Tari   33      Pune     10
2  Abhimanyu     Mango    6    Sangli      3
3    Shourya      Fish    7    Satara     14
4     Atharv  Vadapaav    6  Kolhapur     20
5       Amey      Cake    2   Belgaum     33

In [28]:
# delete multiple indices
df=df.drop([4,5])
df

        Name Fev food  Age    City  Jercy
0   Digvijay   Paneer   34    Pune      9
1     Pravin     Tari   33    Pune     10
2  Abhimanyu    Mango    6  Sangli      3
3    Shourya     Fish    7  Satara     14

In [29]:
# delete single column
df=df.drop('Fev food',axis=1)
df

        Name  Age    City  Jercy
0   Digvijay   34    Pune      9
1     Pravin   33    Pune     10
2  Abhimanyu    6  Sangli      3
3    Shourya    7  Satara     14

In [30]:
# delete multiple columns
df=df.drop(['City','Jercy'],axis=1)
df

        Name  Age
0   Digvijay   34
1     Pravin   33
2  Abhimanyu    6
3    Shourya    7

###### 129. How to get the items which are not common to both series A and series B?

In [52]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([4,5,6,7,8])

union = pd.Series(np.union1d(s1,s2))
intersect=pd.Series(np.intersect1d(s1,s2))

common=union[union.isin(intersect)]
print(common)

3    4
4    5
dtype: int64

In [53]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([4,5,6,7,8])

union = pd.Series(np.union1d(s1,s2))
intersect=pd.Series(np.intersect1d(s1,s2))

notcommon=union[~union.isin(intersect)]
print(notcommon)

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

###### 130. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [54]:
s1=pd.Series([1,2,3,4,5])
s1.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [56]:
s1.min()

1

In [70]:
s1.quantile(0.25)

2.0

In [59]:
s1.median()

3.0

In [71]:
s1.quantile(0.75)

4.0

In [57]:
s1.max()

5

In [58]:
s1.mean()

3.0

In [60]:
s1.mode()[0]

1

                                                                                                         Date: 12-May-2023

###### 131. How can we sort the DataFrame?

In [1]:
import pandas as pd
import numpy as np

data={'Name':['Digvijay','Pravin','Abhimanyu','Shourya','Atharv','Amey','Samrat'],
     'Age' :[34, 33, 6, 7, 6, 2, 3],
     'City':['Pune','Pune','Sangli','Satara','Kolhapur','Belgaum','Chennai']}

df = pd.DataFrame(data)
print('Original Dataframe:\n',df)

Original Dataframe:
         Name  Age      City
0   Digvijay   34      Pune
1     Pravin   33      Pune
2  Abhimanyu    6    Sangli
3    Shourya    7    Satara
4     Atharv    6  Kolhapur
5       Amey    2   Belgaum
6     Samrat    3   Chennai

In [2]:
sort_df=df.sort_values('Age')
sort_df

        Name  Age      City
5       Amey    2   Belgaum
6     Samrat    3   Chennai
2  Abhimanyu    6    Sangli
4     Atharv    6  Kolhapur
3    Shourya    7    Satara
1     Pravin   33      Pune
0   Digvijay   34      Pune

In [3]:
df = df.sort_values(['City', 'Age'])
df

        Name  Age      City
5       Amey    2   Belgaum
6     Samrat    3   Chennai
4     Atharv    6  Kolhapur
1     Pravin   33      Pune
0   Digvijay   34      Pune
2  Abhimanyu    6    Sangli
3    Shourya    7    Satara

###### 132. How to drop duplicate rows from DataFrame?

In [8]:
data={'Name':['Digvijay','Pravin','Abhimanyu','Shourya','Atharv','Amey','Samrat','Amey'],
     'Age' :[34, 33, 6, 7, 6, 2, 3, 2],
     'City':['Pune','Pune','Sangli','Satara','Kolhapur','Belgaum','Chennai','Belgaum']}

df = pd.DataFrame(data)
print('Original Dataframe:\n',df)

Original Dataframe:
         Name  Age      City
0   Digvijay   34      Pune
1     Pravin   33      Pune
2  Abhimanyu    6    Sangli
3    Shourya    7    Satara
4     Atharv    6  Kolhapur
5       Amey    2   Belgaum
6     Samrat    3   Chennai
7       Amey    2   Belgaum

In [9]:
duplicate_rows=df.drop_duplicates()
duplicate_rows

        Name  Age      City
0   Digvijay   34      Pune
1     Pravin   33      Pune
2  Abhimanyu    6    Sangli
3    Shourya    7    Satara
4     Atharv    6  Kolhapur
5       Amey    2   Belgaum
6     Samrat    3   Chennai

###### 133.How to drop duplicate columns from DataFrame?

In [10]:
data = {'Name': ['Abhi', 'Shourya', 'Amey'],
        'Age': [25, 30, 35],
        'City': ['Pune', 'Pune', 'Kolhapur'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# Drop duplicate columns (with transposing dataframe by using T)
deduplicated_df = df.T.drop_duplicates().T

# Display the deduplicated DataFrame
print(deduplicated_df)

      Name Age      City
0     Abhi  25      Pune
1  Shourya  30      Pune
2     Amey  35  Kolhapur

###### 134. Write a Pandas program to split a string of a column of a given DataFrame into multiple columns(Split Name and Surname)

In [11]:
data = {'Full Name': ['Digvijay Mohite', 'Pravin Gosavi', 'Hardik Pandya']}
df = pd.DataFrame(data)

# Split the 'Full Name' column into 'First Name' and 'Last Name'
df[['First Name', 'Last Name']] = df['Full Name'].str.split(' ', expand=True)

# Display the modified DataFrame
print(df)

         Full Name First Name Last Name
0  Digvijay Mohite   Digvijay    Mohite
1    Pravin Gosavi     Pravin    Gosavi
2    Hardik Pandya     Hardik    Pandya

###### 135. Python program to sort Python Dictionaries by Keys

In [12]:
my_dict = {'c': 3, 'a': 1, 'b': 2}

# Sort the dictionary by keys
sorted_dict = dict(sorted(my_dict.items()))

# Display the sorted dictionary
for key, value in sorted_dict.items():
    print(key, ':', value)

a : 1
b : 2
c : 3

                                                                                                         Date: 13-May-2023

###### 136. Python program to sort Python Dictionaries by Values

In [3]:
my_dict = {'apple': 2, 'banana': 4, 'cherry': 1, 'date': 3}

sorted_dict = dict(sorted(my_dict.items(), key=lambda x:x[1]))

print(sorted_dict)

{'cherry': 1, 'apple': 2, 'date': 3, 'banana': 4}

###### 137. Python program to find the sum of all items in a dictionary

In [11]:
my_dict = {'apple': 2, 'banana': 4, 'cherry': 1, 'date': 3}

sum_of_items=sum(my_dict.values())

print(sum_of_items)

10

In [13]:
sum_of_values1=0

for values in my_dict.values():
    sum_of_values1 += values
    
print(sum_of_values1)

10

###### 138. Python program to remove a key from a dictionary

In [14]:
my_dict = {'apple': 2, 'banana': 4, 'cherry': 1, 'date': 3}

del my_dict['apple']

print(my_dict)

{'banana': 4, 'cherry': 1, 'date': 3}

In [15]:
my_dict.pop('cherry')
print(my_dict)

{'banana': 4, 'date': 3}

###### 139. Python program to merge two Dictionaries

In [17]:
dict1 = {'apple': 2, 'banana': 4, 'cherry': 1, 'date': 3}
dict2 = {'mango': 2, 'chiku': 4, 'coconut': 1, 'graps': 3}

merged_dict=dict1.copy()
merged_dict.update(dict2)

print(merged_dict)

{'apple': 2, 'banana': 4, 'cherry': 1, 'date': 3, 'mango': 2, 'chiku': 4, 'coconut': 1, 'graps': 3}

In [18]:
dict_merged={**dict1, **dict2}
print(dict_merged)

{'apple': 2, 'banana': 4, 'cherry': 1, 'date': 3, 'mango': 2, 'chiku': 4, 'coconut': 1, 'graps': 3}

###### 140. Program to create grade calculator in Python

In [21]:
def grade_calculator(score):
    if score>= 90:
        return 'A'
    elif score>=80:
        return 'B'
    elif score>=70:
        return 'C'
    elif score>=60:
        return 'D'
    elif score>=50:
        return 'E'
    elif score>=35:
        return 'Pass'
    else:
        return 'Fail'
    
score=float(input('Enter the score :'))

print(grade_calculator(score))

Enter the score :34.99
Fail

                                                                                                         Date: 14-May-2023

###### 141. Print anagrams together in Python using List and Dictionary

In [4]:
import numpy as np 
import pandas as pd

def print_anagrams_together(words):
    
    anagram_groups={}
    
    for word in words:
        
        sorted_word = ''.join(sorted(word)) # sort letters to create key in dictionary
        
        if sorted_word in anagram_groups:
            anagram_groups[sorted_word].append(word)
            
        else:
            anagram_groups[sorted_word]=[word]
            
    for group in anagram_groups.values():
        print(group)

In [5]:
word_list=['listen','silent','debit card', 'bad credit', 'schoolmaster', 'classroom', 'rescue', 'secure', 'care', 'race', 'heart']
print_anagrams_together(word_list)

['listen', 'silent']
['debit card', 'bad credit']
['schoolmaster']
['classroom']
['rescue', 'secure']
['care', 'race']
['heart']

###### 142. Check if binary representations of two numbers are an anagram

In [11]:
def check_binary_anagrams(num1, num2):
    binary1 = bin(num1)[2:]
    binary2 = bin(num2)[2:]
    
    return sorted(binary1) == sorted(binary2)

num1= 10 # 1010
num2=5  # 101
# required anagram is > 1010 > 0011
check_binary_anagrams(num1,num2)

False

###### 143. Python Counter to find the size of the largest subset of anagram words

In [12]:
from collections import Counter

def largest_angram_subset(words):
    sorted_words = ["".join(sorted(words)) for word in words]
    word_counter = Counter(words)
    
    max_count = max(word_counter.values())
    
    return sum(count for count in word_counter.values() if count==max_count)

word_list=['listen','silent','debit card', 'bad credit', 'schoolmaster', 'classroom', 'rescue', 'secure', 'care', 'race', 'heart']
largest_angram_subset(word_list)

11

###### 144. Python Dictionary to find mirror characters in a string

In [30]:
def find_mirror_characters(string):
    mirror_dict = {'b':'d',
                   'd':'b',
                   'p':'q',
                   'q':'p'}
    
    mirror_chars =[] 
    
    for char in string:
        if char in mirror_dict:
            mirror_chars.append(mirror_dict[char])  
            
    return mirror_chars
                                
input_string= "beds"
find_mirror_characters(input_string)

['d', 'b']

###### 145. Counting the frequencies in a list using a dictionary in Python

In [32]:
def count_frequencies(lst):
    freq_dict={}
    
    for element in lst:
        if element in freq_dict:
            freq_dict[element]+=1
        else:
            freq_dict[element]=1
            
    return freq_dict

lst = [1,2,2,3,3,4,4,5,4,1,1,2,3,4,4,5,6,7,7,4,3,2,2,4,5,6]
count_frequencies(lst)

{1: 3, 2: 5, 3: 4, 4: 7, 5: 3, 6: 2, 7: 2}

                                                                                                         Date: 15-May-2023

###### 146.  Python program to convert a list of Tuples into Dictionary

In [34]:
lst_tup=[('A',10),('B',20)]
dict1=dict(lst_tup)
print('List of Tuples :\n',lst_tup)
print('List of Tuples converted in dictionary :\n',dict1)

List of Tuples :
 [('A', 10), ('B', 20)]
List of Tuples converted in dictionary :
 {'A': 10, 'B': 20}

In [44]:
def convert_in_dict(lst):
    dictionary ={key: value for key, value in lst}
    return dictionary

lst_tup=[('A',10),('B',20)]
convert_in_dict(lst_tup)

{'A': 10, 'B': 20}

In [45]:
def convert_in_dict(lst):
    dictionary =dict(lst)
    return dictionary

lst_tup=[('A',10),('B',20)]
convert_in_dict(lst_tup)

{'A': 10, 'B': 20}

###### 147. Write a Python program to sort a list of dictionaries using Lambda

In [61]:
def sort_list_of_dict(lst,key):
    sorted_lst = sorted(lst, key=lambda x:x[key])
    return sorted_lst

lst=[{'name':'yesh','age':12},
    {'name':'shourya','age':8},
    {'name':'abhi', 'age':6}    
]

sort_list_of_dict(lst,'age')

[{'name': 'abhi', 'age': 6},
 {'name': 'shourya', 'age': 8},
 {'name': 'yesh', 'age': 12}]

###### 148. Create a list of tuples from the given list having a number and its cube in each tuple

In [50]:
def list_of_tup(lst):
    tuple_list = [(num, num**3) for num in lst]
    return tuple_list  
    
lst=[1,2,3,4,5,6,7,8,9,10]
list_of_tup(lst)

[(1, 1),
 (2, 8),
 (3, 27),
 (4, 64),
 (5, 125),
 (6, 216),
 (7, 343),
 (8, 512),
 (9, 729),
 (10, 1000)]

###### 149. Sort a list of tuples by the second Item

In [56]:
def sort_by_second_item(lst):
    sorted_lst = sorted(lst, key=lambda x:x[1])
    return sorted_lst

lst=[(1,'e'),(3,'b'),(4,'q'),(1,'a')]
sort_by_second_item(lst)

[(1, 'a'), (3, 'b'), (1, 'e'), (4, 'q')]

###### 150. Write a Python program to sort a list of tuples using Lambda

In [63]:
def sort_list_of_tuple(lst):
    sorted_lst = sorted(lst, key=lambda x:x)
    return sorted_lst

lst=[(1,'e'),(3,'b'),(4,'q'),(1,'a')]
sort_list_of_tuple(lst)

[(1, 'a'), (1, 'e'), (3, 'b'), (4, 'q')]

In [68]:
def sort_list_of_tuple(lst,index):
    sorted_lst = sorted(lst, key=lambda x:x[index])
    return sorted_lst

lst=[(1,'e'),(3,'b'),(4,'q'),(1,'a')]
sort_list_of_tuple(lst,1)

[(1, 'a'), (3, 'b'), (1, 'e'), (4, 'q')]

                                                                                                         Date: 16-May-2023

###### 151. Python Program for Insertion Sort

In [78]:
def insertion_sort(arr):
    for i in range(1, len(arr)):
        j = i
        while arr[j-1] > arr[j] and j > 0:
            arr[j-1], arr[j] = arr[j], arr[j-1]
            j -= 1

arr= [2,6,4,5,8,9,2,3,4]
insertion_sort(arr)
print(arr)

[2, 2, 3, 4, 4, 5, 6, 8, 9]

###### 152. Write a Python program to find square and cube every number in a given list of integers using Lambda

In [80]:
def list_squre_qube(lst):
    res_list = [(num, num**2, num**3) for num in lst]
    return res_list  
    
lst=[1,2,3,4,5,6,7,8,9,10]
list_squre_qube(lst)

[(1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729),
 (10, 100, 1000)]

###### 153. Write a Python program to find if a given string starts with a given character using Lambda

In [82]:
starts_with = lambda string, char: string.startswith(char)

string = "Digvijay"
char = 'D'

if starts_with(string, char):
    print(f"The string '{string}' starts with the character {char}.")
else:
    print(f"The string '{string}' does not starts with the character {char}.")

The string 'Digvijay' starts with the character D.

###### 154. Write a Python program to check whether a given string is number or not, using Lambda

In [96]:
is_number = lambda string: string.replace(".", "").isdigit()

string = "121"

if is_number(string):
    print('The string have number')
else:
    print('The string does not have number')

The string have number

###### 155. Write a Python program to create Fibonacci series using Lambda

In [97]:
fibonacci = lambda n: n if n <= 1 else fibonacci(n - 1) + fibonacci(n - 2)

limit = 10
fibonacci_series = [fibonacci(i) for i in range(limit)]
print("Fibonacci series:", fibonacci_series)

Fibonacci series: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

                                                                                                         Date: 17-May-2023

###### 156. Write a Python program to find the intersection of two given arrays using Lambda

In [5]:
import numpy as np
import pandas as pd

arr1=np.array([1,2,3,4,5])
arr2=np.array([4,5,6,7,8])
print('Array 1:',arr1)
print('Array 2:',arr2)

intersection = list(filter(lambda x:x in arr1,arr2)) # filter function alongwith lambda will filter unique element from both array
intersection

Array 1: [1 2 3 4 5]
Array 2: [4 5 6 7 8]

[4, 5]

###### 157. Write a Python program to rearrange positive and negative numbers in a given array using Lambda

In [6]:
arr=np.array([-3,-6,10,2,3,-11,-1,10])

rearrange = list(sorted(arr, key=lambda x:(x>0, abs(x)))) # abs function will ensure negative elements with sorted ascending order
rearrange

[-1, -3, -6, -11, 2, 3, 10, 10]

###### 158. Write a Python program to count the even, odd numbers in a given array of integers using Lambda

In [19]:
arr=np.array([33,44,51,32,1,99,101,200,300,100,111])
print('Array :',arr)

even=list(filter(lambda x: x%2 == 0, arr))
odd=list(filter(lambda x: x%2 != 0, arr))

print('Even List:',even, '& Count =',len(even))
print('Odd List:',odd, '& Count =',len(odd))

Array : [ 33  44  51  32   1  99 101 200 300 100 111]
Even List: [44, 32, 200, 300, 100] & Count = 5
Odd List: [33, 51, 1, 99, 101, 111] & Count = 6

###### 159. Write a Python program to add two given lists using map and lambda

In [32]:
lst1=[1,2,3,4,5]
lst2=[6,7,8,9,10]

addition = list(map(lambda x, y: x+y, lst1, lst2 ))
addition

[7, 9, 11, 13, 15]

###### 160. Write a Python program to find numbers divisible by nineteen or thirteen from a list of numbers using Lambda

In [37]:
numbers = [19,26, 39, 52, 65, 78, 91, 90, 100]

divisible_numbers = list(filter(lambda x: x%19 == 0 or x%13 == 0, numbers))
divisible_numbers

[19, 26, 39, 52, 65, 78, 91]

                                                                                                         Date: 18-May-2023

###### 161. Write a Python program to find palindromes in a given list of strings using Lambda

In [1]:
import numpy as np
import pandas as pd

def find_palindrome(strings):
    return list(filter(lambda x: x == x[::-1],strings))

lst=['level', 'python', 'radar', 'madam', 'hello']
find_palindrome(lst)

['level', 'radar', 'madam']

###### 162. Write a Python program to find all anagrams of a string in a given list of strings using lambda

In [7]:
is_anagram = lambda x1, x2: sorted(x1)==sorted(x2)

def find_anagrams(word, string):
    return list(filter(lambda s: is_anagram(word, s), string))

word="listen"
string=['level', 'python', 'radar', 'madam', 'silent']
find_anagrams(word, string)

['silent']

###### 163. Write a Python program that multiplies each number of a given list with a given number using lambda function. Print the result

In [9]:
def multiple_number(num, lst):
    return list(map(lambda x:x*num, lst))

lst=[1,2,3,4,5,6,7,8,9,10]
multiple_number(10, lst)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

###### 164. Write a Python program to calculate the sum of the positive and negative numbers of a given list of numbers using lambda function

In [14]:
def sum_positive_negative(lst):
    positive=sum(list(filter(lambda x: x == x>0, lst)))
    negative=sum(list(filter(lambda x: x == x<0, lst)))
    print('Postive Number Addition:',positive)
    print('Negative Number Addition:',negative)
    
lst = [-1, 2, -3, 4, -5, 6, -7, 8, -9, 10]
sum_positive_negative(lst)

Postive Number Count: 30
Negative Number Count: -25

###### 165. Write a Python program to find the list with maximum and minimum length using lambda

In [20]:
def length_max_min(lst):
    max_len = max(lst, key=lambda lst: len(lst))
    min_len = min(lst, key=lambda lst: len(lst))
    print('Maximum Length :',max_len)
    print('Minimum Length :',min_len)
    
lst = [[1, 2, 3], [4, 5], [6, 7, 8, 9, 10], [10], [11, 12, 13, 14, 15], [11]]
length_max_min(lst)

Maximum Length : [6, 7, 8, 9, 10]
Minimum Length : [10]

###### 152. Python Program for SelectionSort

###### 153. Python Program for Bubble Sort

###### 154. Python Program for Merge Sort

###### 155. Python Program for QuickSortSort